{% extends 'sapns/base.html' %}
{% import 'sapns/dashboard/util.html' as util %}
{% import 'sapns/dashboard/datefield.js' as df %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{tg.url('/css/edit.min.css', params=dict(v=1))}}">
    {{ util.jquery() }}
    {{ util.jquery_ui() }}
    {{ util.dateformat() }}
    {{ util.qtip2() }}
{% endblock %}

{% block middle %}
<div id="edit-dialog" style="display:none"></div>

<!--{% if came_from %}-->
<form id="form_back" method="post" action="{{came_from}}"></form>
<!--{% else %}-->
<form id="form_back" method="post" action="{{tg.url('/message')}}">
    <input type="hidden" name="message" value="{{_('The record has been successfully saved')}}">
    <input type="hidden" name="came_from" value="">
</form>
<!--{% endif %}-->

<div class="sp-edit-panel">
    <div id="edit-header">
    
    <div id="right_desc">
    
    <!-- {# Title of the object #} -->
    <div id="class_title">{{title}}</div>

    <!--{%- if reference %}-->
    <div id="reference">[{{reference}}]</div>
    <!--{% endif %}-->
    
    <!-- _created / _updated -->
    <!--{% if id and h.predicates.in_group('managers') %}-->
    <div id="created_updated">
        <div title="{{_('Created')}}" class="created">{{_created or '&nbsp;'}}</div>
        <div title="{{_('Updated')}}" class="created">{{_updated or '&nbsp;'}}</div>
    </div>
    <!--{% endif %}-->
    
    <div style="height:5px"></div>
    
    <!-- related classes -->
    <!--{% if id and related_classes|length > 0 %}-->
    <div id="rel-classes">
        <div id="rel-classes-title">{{_('Related info')}} <span class="related-classes-count">[{{related_classes|length}}]</span></div>
        <select id="rel-classes-sel">
        <!--{% for rc in related_classes %}-->
        <option ch_attr="{{rc.attr_name}}" cls="{{rc.name}}">{{rc.title}} ({{rc.attr_title}})</option>
        <!--{% endfor %}-->
        </select>
        <button id="rel-classes-show" class="sp-button" style="width:63px">{{_('Show')}}</button>
        <form id="rel-classes-form" method="post" action="" target="_blank">
            <input type="hidden" name="parent_id" value="{{id}}">
        </form>
    </div>
    <!--{% endif %}-->
    
    <!-- actions -->
    <!--{% if id and actions|length > 0 %}-->
    <div id="actions">
        <div id="actions-title">{{_('Actions')}} <span class="actions-count">[{{actions|length}}]</span></div>
        <select id="actions-sel" row_id="{{id}}">
        <option selected>({{_('none')}})</option>
        <!--{% for act in actions %}-->
        <option value="{{act.url}}">{{act.title|escape}}</option>
        <!--{% endfor %}-->
        </select>
        <button id="action-go" class="sp-button" style="width:63px">{{_('Go')}}</button>
        <form id="action-form" method="post" action="" target="_blank">
            <input type="hidden" name="came_from" value="">
        </form>
    </div>
    <!--{% endif %}-->
    </div>
    
    <div id="edit_buttons">
        <div style="float: left;">
            <button id="save-button" class="sp-button">{{_('Save')}}</button>
        </div>
        
        <!--{% if came_from %}-->
        <div id="edit-back" style="float: left;">
            <button id="back-button" class="sp-button">{{_('return')}}</button>
        </div>
        <!--{% endif %}-->
    </div>
    
    </div>
    
    <div id="edit_fields">
    
    <!--{%- for attr in attributes %}-->
    <div class="sp-edit-field
        {% if attr.required %} required {% endif %}
        {% if attr.read_only %} readonly {% endif %}" 
        name="{{attr.name}}" attr-title="{{attr.title}}">
    
        <div class="sp-label-field"
            {% if attr.field_regex %}
            title="{{attr.field_regex}}"
            {% endif %}>{{attr.title|escape}}</div>
        <div>
        
        <!-- {# Integer #} -->
        <!--{% if attr.type == 'int' and attr.related_class == None %}-->
        <input class="sp_integer_field" type="text" regex="{{attr.field_regex or ''}}" _ok="1"
            {% if attr.read_only %} disabled {% endif %}
            {% if attr.value != None %}
            value="{{attr.value}}"
            {% endif %}>
            
        <!-- {# Float #} -->
        <!--{% elif attr.type == 'float' %}-->
        <input class="sp_float_field" type="text" regex="{{attr.field_regex or ''}}" _ok="1"
            {% if attr.read_only %} disabled {% endif %}
            {% if attr.value != None %}
            value="{{attr.value}}"
            {% endif %}>
        
        <!-- {# Boolean #} -->
        <!--{%- elif attr.type == 'bool' %}-->
        <input class="sp-checkbox-field" type="checkbox"
            {% if attr.read_only %} disabled {% endif %}
            {% if attr.value %} checked {% endif %}>
        
        <!-- {# Date #} -->
        <!--{%- elif attr.type == 'date' %}-->
        <input class="sp-date-field" type="text"
            {% if attr.read_only %} disabled {% endif %}
            value="{{attr.value}}">
        
        <!-- {# Time #} -->
        <!--{%- elif attr.type == 'time' %}-->
        <input class="sp-time-field" type="text" regex="{{attr.field_regex or ''}}" _ok="1"
            {% if attr.read_only %} disabled {% endif %} 
            value="{{attr.value}}">            
        
        <!-- {# Memo #} -->
        <!--{%- elif attr.type == 'memo' %}-->
        <textarea class="sp-text-field sp-memo-field"
            {% if attr.read_only %} disabled {% endif %}>{{attr.value|escape}}</textarea>
            
        <!-- {# URL #} -->
        <!--{%- elif attr.type == 'url' %}-->
        <div class="url_field">
        <input class="url_field_text" type="text"
            {% if attr.read_only %} disabled {% endif %}
            value="{{attr.value}}">
            
        <button class="url_field_btn sp-button">{{_('Go to link')}}</button>
        </div>
        
        <!--{%- elif attr.related_class != None %}-->
        <!-- {# Select #} -->
        <div id="selector-{{attr.name}}" class="sp-select-field sp_selector"
            attr_name="{{attr.name}}" attr_value="{{attr.value}}" 
            attr_title="{{attr.title}}" attr_rc="{{attr.related_class}}" 
            attr_rc_title="{{attr.related_class_title}}"></div>
        <!--{%- else %}-->
        <!-- {# Everything else #} -->
        <input class="sp-text-field" type="text" regex="{{attr.field_regex or ''}}" _ok="1"
            value="{{attr.value|escape}}"
            {% if attr.read_only %} disabled {% endif %}>
        <!--{% endif %}-->
        </div>
    </div>
    <!--{% endfor %}-->
    <div id="espacio-final" style="height:30px">&nbsp;</div>
    </div>
</div>

<script src="{{tg.url('/js/fields.min.js')}}"></script>
<script src="{{tg.url('/js/sprintf.min.js')}}"></script>
<script>
    {% include 'sapns/components/sapns.selector.min.js' %}
    {% include 'sapns/components/sapns.grid/sapns.grid.min.js' %}
    {% include 'sapns/dashboard/edit/edit.min.js' %}
</script>
{% endblock %}
