{% extends 'sapns/base.html' %}
{% import 'sapns/dashboard/util.html' as util %}
{% import 'sapns/dashboard/selector.html' as s %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/edit.css')}}"/>
    {{ util.jquery() }}
    {{ util.jquery_ui() }}
    {{ util.dateformat() }}
    {{ s.selector_field_js(tg, _) }}
{% endblock %}

{% block middle %}
<div id="edit-dialog" style="display: none;"></div>

<form id="edit-form" method="post" action="{{tg.url('/dashboard/save/%s' % cls)}}">
    <input type="hidden" name="id" value="{{id}}"/>
    <input type="hidden" name="came_from" value="{{came_from}}"/>
</form>

<div class="sp-edit-panel">
    <div class="sp-save-button">
        <input id="save-button" class="sp-button" type="button" 
            value="{{_('Save')}}"/>
    </div>
    
    <!-- {# Title of the object #} -->
    <div style="font-size: 25px; margin-left: 1%;">{{title}}</div>

    {%- if reference %}
    <div style="margin-left: 1%; width: 97%; font-size: 15px; color: black; 
        background-color: none;">[{{reference}}]</div>
    {% endif %}
    
    <div style="height: 10px;"></div>
    
    {% if id %}
    <div style="margin-left: 10px;">
        <div style="float: left; color: gray; margin-top: 3px; 
            width: 102px; text-align: center;">{{_('Related info')}}</div>
        <select id="rel-classes-sel" style="float: left;">
        {% for rc in related_classes %}
        <option ch_attr="{{rc.attr_name}}" cls="{{rc.name}}">{{rc.title}} ({{rc.attr_title}})</option>
        {% endfor %}
        </select>
        <input id="rel-classes-show" type="button" value="{{_('Show')}}" />
        <form id="rel-classes-form" method="post" action="" target="_blank">
            <input type="hidden" name="parent_id" value="{{id}}" />
        </form>
    </div>
    {% endif %}
    
    {%- for attr in attributes %}
    <div class="sp-edit-field" 
        {% if attr.required %}
        required="true"
        {% else %}
        required="false" 
        {% endif %}
        attr-title="{{attr.title}}">
        
        <div class="sp-label-field" 
            style="margin-left: 10px; 
                margin-top: 4px;
                {% if attr.required %} font-weight: bold;  {% endif %}
                margin-bottom: 2px;">{{attr.title|escape}}</div>

        <div>
        <!-- {# Boolean #} -->
        {%- if attr.type == 'bool' %}
        <input class="sp-checkbox-field" type="checkbox" name="{{attr.name}}"
            {% if attr.read_only %} disabled {% endif %}
            {% if attr.value %} checked {% endif %}/>
        
        <!-- {# Date #} -->
        {%- elif attr.type == 'date' %}
        <input class="sp-date-field" type="text" name="{{attr.name}}"
            {% if attr.read_only %} disabled {% endif %} 
            value="{{attr.value}}"/>
        
        <!-- {# Time #} -->
        {%- elif attr.type == 'time' %}
        <input class="sp-time-field" type="text" name="{{attr.name}}"
            {% if attr.read_only %} disabled {% endif %} 
            value="{{attr.value}}"/>            
        
        <!-- {# Memo #} -->
        {%- elif attr.type == 'memo' %}
        <textarea class="sp-text-field sp-memo-field"
            {% if attr.read_only %} disabled {% endif %} 
            name="{{attr.name}}">{{attr.value|escape}}</textarea>
        
        {%- elif attr.related_class != None %}
        <!-- {# Select #} -->
        {{ s.selector_field(_, attr.name, attr.value, attr.related_title,
            attr.title, attr.related_class, attr.related_class_title, 
            read_only=attr.read_only) }}
             
        {%- else %}
        {# <!-- Everything else --> #}
        <input class="sp-text-field" type="text" name="{{attr.name}}" 
            value="{{attr.value|escape}}"
            {% if attr.read_only %} disabled {% endif %} />
        {% endif %}
        </div>
    </div>
    {% endfor %}
    <div style="height: 40px;">
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
    	
    	$('.sp-edit-field:first').find('input:first').focus();    	
        
        $('#save-button').click(function() {
            
            var params = '';
            var required_attrs = [];
            
            // {# text #} 
            $('.sp-text-field').each(function() {
                var required = $(this).parent().parent().attr('required');
                var value = $(this).val();
                        
                if (required == 'true' && value == '') {
                    required_attrs[required_attrs.length] = $(this).parent().parent().attr('attr-title');
                }
                
                params += 
                    '<input type="hidden" ' + 
                        'name="fld_' + $(this).attr('name') + '" ' + 
                        'value="' + value + '"/>\n';
            });
            
            // {# checkbox #} 
            $('.sp-checkbox-field').each(function() {
                params += 
                    '<input type="hidden" ' + 
                        'name="fld_' + $(this).attr('name') + '" ' + 
                        'value="' + $(this).attr('checked') + '"/>\n';
            });

            // {# date #} 
            $('.sp-date-field').each(function() {
                
                var date_value = $(this).datepicker('getDate');
                
                if (date_value != null) {
                    var year = date_value.getFullYear()
                    var month = date_value.getMonth() + 1;
                    var day = date_value.getDate();
                
                    date_value = year + '-' + month + '-' + day;
                }
                else {
                    date_value = '';
                }
                
                var required = $(this).parent().parent().attr('required');
                        
                if (required == 'true' && date_value == '') {
                    required_attrs[required_attrs.length] = $(this).parent().parent().attr('attr-title');
                }
                
                params += 
                    '<input type="hidden" ' + 
                        'name="fld_' + $(this).attr('name') + '" ' + 
                        'value="' + date_value + '"/>\n';
            });
            
            // {# time #} 
            $('.sp-time-field').each(function() {
                var required = $(this).parent().parent().attr('required');
                var value = $(this).val();
                        
                if (required == 'true' && value == '') {
                    required_attrs[required_attrs.length] = $(this).parent().parent().attr('attr-title');
                }
                
                params += 
                    '<input type="hidden" ' + 
                        'name="fld_' + $(this).attr('name') + '" ' + 
                        'value="' + value + '"/>\n';
            });
            
            // {# select fields #} 
            $('.sp-select-field').each(function() {
                
                var required = $(this).parent().parent().attr('required');
                var sel_value = $(this).attr('value');
                        
                if (required == 'true' && sel_value == '') {
                    required_attrs[required_attrs.length] = $(this).parent().parent().attr('attr-title');
                }
                
                params += 
                    '<input type="hidden" ' + 
                        'name="fld_' + $(this).attr('name') + '" ' + 
                        'value="' + sel_value + '"/>\n';
            });
            
            if (required_attrs != '') {
                var alert_msg = "{{_('The following fields must be filled:')}}";
                alert_msg += '<br>';
                for (var i=0; i<required_attrs.length; i++) {
                    alert_msg += 
                        '<p style="margin-left: 20px; ' +
                            'font-size: 11px;' +
                            'font-family: Arial;' +
                            'font-weight: bold;">' + 
                        required_attrs[i] + 
                        '</p>';
                }
                
                $('#edit-dialog').
                    html("<p style=''>" + alert_msg + "</p>").
                    dialog({
                    	title: "{{_('Required fields')}}",
                        resizable: false,
                        height: 250,
                        width: 450,
                        modal: true,
                        buttons: {
                        	"{{_('Close')}}": function() {
                        		$('#edit-dialog').dialog('close');
                        	}
                        }
                    });
            }
            else {
                $('#edit-form').append(params).submit();
            }
        });
        
        // {# create datepickers 
        // with specific date format and options #} 
        
        // {# date format settings #} 
        var first_day = "{{tg.config.get('js.first_day', '1')}}";
        // "datepicker" setting 
        var date_fmt0 = "{{tg.config.get('js.date_format', 'mm/dd/yyyy')}}";
        // "format date library" setting 
        var date_fmt1 = "{{tg.config.get('js.date_format2', 'mm/dd/yyyy')}}";
        
        $('.sp-date-field').each(function() {
        	if (!$(this).attr('disabled')) {
        		$(this).datepicker({
        		    firstDay: first_day,
        		    changeMonth: true,
        		    changeYear: true,
        		    showOn: 'button',
        		    autoSize: true,
        		    nextText: "{{_('Next')}}",
        		    prevText: "{{_('Prev')}}",
        		    dateFormat: date_fmt0,
        		    dayNames: ["{{_('Sunday')}}", "{{_('Monday')}}", "{{_('Tuesday')}}",
        		               "{{_('Wednesday')}}", "{{_('Thursday')}}", "{{_('Friday')}}",
        		               "{{_('Saturday')}}"],
        		    dayNamesMin: ["{{_('Su')}}", "{{_('Mo')}}", "{{_('Tu')}}", "{{_('We')}}",
        		                  "{{_('Th')}}", "{{_('Fr')}}", "{{_('Sa')}}"],
        		    monthNames: ["{{_('January')}}", "{{_('February')}}", "{{_('March')}}",
        		                 "{{_('April')}}", "{{_('May')}}", "{{_('June')}}",
                                 "{{_('July')}}", "{{_('August')}}", "{{_('September')}}", 
                                 "{{_('October')}}", "{{_('November')}}", "{{_('December')}}"]
               });
        	}
        	else {
        		var date_value = new Date($(this).val()).format(date_fmt1);
        		$(this).css('width', '85px').val(date_value);
        	}
        });
        
        // {# show related class #} 
        $('#rel-classes-show').click(function() {
        	
        	var option = $('#rel-classes-sel option:selected');
        	var action = "/dashboard/list/" + option.attr('cls');
        	
        	var params = '';
        	params += '<input type="hidden" name="parent_id" value="{{id}}" />\n';
        	params += '<input type="hidden" name="ch_attr" ' +
        	   'value="' + option.attr('ch_attr') + '"/>\n';
        	   
        	$('#rel-classes-form').attr('action', action).html(params).submit();
        });
    });
</script>
{% endblock %}