{% extends 'sapns/base.html' %}
{% import 'sapns/dashboard/util.html' as util %}
{% import 'sapns/dashboard/datefield.js' as df %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/edit.css')}}" >
    {{ util.jquery() }}
    {{ util.jquery_ui() }}
    {{ util.dateformat() }}
    {{ util.qtip2() }}
    <script type="text/javascript">
        {% include 'sapns/dashboard/sapns.selector.js' %}
    </script>
{% endblock %}

{% block middle %}
<div id="edit-dialog" style="display: none;"></div>

<form id="edit-form" method="post" action="{{tg.url('/dashboard/save/%s' % cls)}}">
    <input type="hidden" name="id" value="{{id}}">
    <input type="hidden" name="came_from" value="{{came_from}}">
</form>

<div class="sp-edit-panel">
    <div id="edit-header">
    
    <!-- {# Title of the object #} -->
    <div style="font-size: 25px; margin-left: 1%;">{{title}}</div>

    {%- if reference %}
    <div style="margin-left: 1%; width: 97%; font-size: 15px; color: black; 
        background-color: none;">[{{reference}}]</div>
    {% endif %}
    
    <div style="height: 10px;"></div>
    
    <!-- related classes -->
    {% if id and related_classes|length > 0 %}
    <div style="margin-left: 10px;">
        <div id="rel-classes-title">{{_('Related info')}}</div>
        <select id="rel-classes-sel">
        {% for rc in related_classes %}
        <option ch_attr="{{rc.attr_name}}" cls="{{rc.name}}">{{rc.title}} ({{rc.attr_title}})</option>
        {% endfor %}
        </select>
        <button id="rel-classes-show" class="sp-button">{{_('Show')}}</button>
        <form id="rel-classes-form" method="post" action="" target="_blank">
            <input type="hidden" name="parent_id" value="{{id}}">
        </form>
    </div>
    {% endif %}
    
    <!-- actions -->
    {% if id and actions|length > 0 %}
    <div style="margin-left: 10px;">
        <div id="actions-title">{{_('Actions')}}</div>
        <select id="actions-sel" row_id="{{id}}">
        <option selected>({{_('none')}})</option>
        {% for act in actions %}
        <option value="{{act.url}}">{{act.title|escape}}</option>
        {% endfor %}
        </select>
        <button id="action-go" class="sp-button">{{_('Go')}}</button>
        <form id="action-form" method="post" action="" target="_blank">
            <!--<input type="hidden" name="id" value="{{id}}">-->
            <input type="hidden" name="came_from" value="">
        </form>
    </div>
    {% endif %}
    
    <!--<div class="sp-save-button">-->
    <button id="save-button" class="sp-button">{{_('Save')}}</button>
    <!--</div>-->
    
    </div>
    
    <div style="height: 175px;">&nbsp;</div>
    
    {%- for attr in attributes %}
    <div class="sp-edit-field" name="{{attr.name}}"
        {% if attr.required %}
        required="true"
        {% else %}
        required="false" 
        {% endif %}
        attr-title="{{attr.title}}">
        
        <div class="sp-label-field" 
            style="margin-left: 10px; 
                margin-top: 4px;
                {% if attr.required %} font-weight: bold;  {% endif %}
                margin-bottom: 2px;">{{attr.title|escape}}</div>

        <div>
        <!-- {# Boolean #} -->
        {%- if attr.type == 'bool' %}
        <input class="sp-checkbox-field" type="checkbox"
            {% if attr.read_only %} disabled {% endif %}
            {% if attr.value %} checked {% endif %}>
        
        <!-- {# Date #} -->
        {%- elif attr.type == 'date' %}
        <input class="sp-date-field" type="text"
            {% if attr.read_only %} disabled {% endif %} 
            value="{{attr.value}}">
        
        <!-- {# Time #} -->
        {%- elif attr.type == 'time' %}
        <input class="sp-time-field" type="text"
            {% if attr.read_only %} disabled {% endif %} 
            value="{{attr.value}}">            
        
        <!-- {# Memo #} -->
        {%- elif attr.type == 'memo' %}
        <textarea class="sp-text-field sp-memo-field"
            {% if attr.read_only %} disabled {% endif %}>{{attr.value|escape}}</textarea>
        
        {%- elif attr.related_class != None %}
        <!-- {# Select #} -->
        <div id="selector-{{attr.name}}" class="sp-select-field"></div>
        {%- else %}
        {# <!-- Everything else --> #}
        <input class="sp-text-field" type="text" 
            value="{{attr.value|escape}}"
            {% if attr.read_only %} disabled {% endif %}>
        {% endif %}
        </div>
    </div>
    {% endfor %}
    <div style="height: 40px;">
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
    	
    	$('.sp-edit-field:first').find('input:first').focus();    	
        
        $('#save-button').click(function() {
            
            $('.ui-tooltip').remove();
            
            var params = '';
            var required_attrs = [];
            
            // {# text #} 
            $('.sp-text-field').each(function() {
            	var name = $(this).parent().parent().attr('name');
            	var required = $(this).parent().parent().attr('required');
                var value = $(this).val();
                        
                if (required == 'true' && value == '') {
                    //required_attrs.push($(this).parent().parent().attr('attr-title')); 
                    required_attrs.push($(this));
                }
                
                params += 
                    '<input type="hidden" name="fld_' + name + '" ' + 
                        'value="' + value + '">\n';
            });
            
            // {# checkbox #} 
            $('.sp-checkbox-field').each(function() {
            	var name = $(this).parent().parent().attr('name');
                params += 
                    '<input type="hidden" name="fld_' + name + '" ' + 
                        'value="' + $(this).attr('checked') + '">\n';
            });

            // {# date #} 
            $('.sp-date-field').each(function() {
                
                var date_value = $(this).datepicker('getDate');
                var name = $(this).parent().parent().attr('name');
                
                if (date_value != null) {
                    var year = date_value.getFullYear()
                    var month = date_value.getMonth() + 1;
                    var day = date_value.getDate();
                
                    date_value = year + '-' + month + '-' + day;
                }
                else {
                    date_value = '';
                }
                
                var required = $(this).parent().parent().attr('required');
                        
                if (required == 'true' && date_value == '') {
                    //required_attrs.push($(this).parent().parent().attr('attr-title'));
                    required_attrs.push($(this));
                }
                
                params += 
                    '<input type="hidden" name="fld_' + name + '" ' + 
                        'value="' + date_value + '">\n';
            });
            
            // {# time #} 
            $('.sp-time-field').each(function() {
            	var name = $(this).parent().parent().attr('name');
                var required = $(this).parent().parent().attr('required');
                var value = $(this).val();
                        
                if (required == 'true' && value == '') {
                    //required_attrs.push($(this).parent().parent().attr('attr-title'));
                    required_attrs.push($(this));
                }
                
                params += 
                    '<input type="hidden" name="fld_' + name + '" ' + 
                        'value="' + value + '">\n';
            });
            
            // {# select fields #} 
            $('.sp-select-field').each(function() {
                
            	var name = $(this).parent().parent().attr('name');
                var required = $(this).parent().parent().attr('required');
                var sel_value = $(this).attr('value');
                        
                if (required == 'true' && sel_value == '') {
                    //required_attrs.push($(this).parent().parent().attr('attr-title'));
                    required_attrs.push($(this));
                }
                
                params += 
                    '<input type="hidden" name="fld_' + name + '" ' + 
                        'value="' + sel_value + '">\n';
            });
            
            if (required_attrs.length > 0) {
                for (var i=0; i<required_attrs.length; i++) {
                    required_attrs[i].qtip({
                        content: { text: "{{_('this field is required')}}" },
                        show: {
                            target: false,
                            ready: true                            
                        },
                        hide: {
                            event: false
                        },
                        position: {
                            at: "right top",
                            my: "left bottom"
                        },
                        style: "ui-tooltip-red ui-tooltip-rounded"                        
                    });
                }
                
                /*var alert_msg = "{{_('The following fields must be filled:')}}";
                alert_msg += '<br>';
                for (var i=0; i<required_attrs.length; i++) {
                    alert_msg += 
                        '<p style="margin-left: 20px; ' +
                            'font-size: 11px;' +
                            'font-family: Arial;' +
                            'font-weight: bold;">' + 
                        required_attrs[i] + 
                        '</p>';
                }
                
                $('#edit-dialog').
                    html("<p style=''>" + alert_msg + "</p>").
                    dialog({
                    	title: "{{_('Required fields')}}",
                        resizable: false,
                        height: 250,
                        width: 450,
                        modal: true,
                        buttons: {
                        	"{{_('Close')}}": function() {
                        		$('#edit-dialog').dialog('close');
                        	}
                        }
                    });*/
            }
            else {
                $('#edit-form').append(params).submit();
            }
        });
        
        // {# create datepickers 
        // with specific date format and options #} 
        {{ df.date_field(tg, _, '.sp-date-field') }}
        
        // {# show related class #} 
        $('#rel-classes-show').click(function() {
        	
        	var option = $('#rel-classes-sel option:selected');
        	var action = "/dashboard/list/" + option.attr('cls');
        	
        	var params = '';
        	params += '<input type="hidden" name="parent_id" value="{{id}}">\n';
        	params += '<input type="hidden" name="ch_attr" ' +
        	   'value="' + option.attr('ch_attr') + '">\n';
        	   
        	$('#rel-classes-form').attr('action', action).html(params).submit();
        });
        
        // execute action 
        $('#action-go').click(function() {
            var id = $('#actions-sel').attr('row_id');
            var url = $('#actions-sel option:selected').val();
            
            if (url[url.length-1] != '/') {
                url += '/';
            }
            
            url += id;
            
            $('#action-form').attr('action', url).submit();
            $('#actions-sel option:first').attr('selected', true);
        });
        
        {% for attr in attributes %}
            {% if attr.related_class != None %}
            
            var read_only = "{{attr.read_only}}";
            
            $("#selector-{{attr.name}}").sapnsSelector({
            	name: "{{attr.name}}",
            	value: "{{attr.value}}",
            	title: "{{attr.title}}",
            	rc: "{{attr.related_class}}",
            	rc_title: "{{attr.related_class_title}}",
            	read_only: read_only == 'True'
            });
            
            {% endif %}
        {% endfor %}
    });
</script>
{% endblock %}
