{% extends 'sapns/base.html' %}
{% import 'sapns/dashboard/util.html' as util %}

{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/edit.css')}}"/>
{% endblock %}

{% block middle %}
<div id="edit-dialog" style="display: none;"></div>

<form id="edit-form" method="post" action="{{tg.url('/dashboard/save')}}">
    <input type="hidden" name="cls" value="{{cls}}"/> 
    <input type="hidden" name="id" value="{{id}}"/>
    <input type="hidden" name="came_from" value="{{came_from}}"/>
</form>

<div class="sp-edit-panel">
    <div class="sp-save-button">
        <input id="save-button" class="sp-button" type="button" 
            value="{{_('Save')}}"/>
    </div>
    
    {# <!-- Title of the object --> #}
    <div style="font-size: 25px; margin-left: 1%;">{{title}}</div>

    {%- if reference %}
    <div style="margin-left: 1%; width: 97%; font-size: 15px; color: black; 
        background-color: none;">[{{reference}}]</div>
    {% endif %}
    
    <div style="height: 10px;"></div>
    
    {#{% for rc in related_classes %}
    <div>{{rc.name}}.{{rc.attr_name}}</div>
    {% endfor %}#}
    
    {%- for attr in attributes %}
    <div class="sp-edit-field" 
        {% if attr.required %}
        required="true"
        {% else %}
        required="false" 
        {% endif %}
        attr-title="{{attr.title}}">
        
        <div class="sp-label-field" 
            style="margin-left: 10px; 
                margin-top: 4px;
                {% if attr.required %} font-weight: bold;  {% endif %}
                margin-bottom: 2px;">{{attr.title|escape}}</div>

        <div>
        {# <!-- Boolean --> #}
        {%- if attr.type == 'bool' %}
        <input class="sp-checkbox-field" type="checkbox" name="{{attr.name}}"
            {% if attr.read_only %} disabled {% endif %}
            {% if attr.value %} checked {% endif %}/>
        
        {# <!-- Date --> #}
        {%- elif attr.type == 'date' %}
        <input class="sp-date-field" type="text" name="{{attr.name}}"
            {% if attr.read_only %} disabled {% endif %} 
            value="{{attr.value}}"/>
        
        {# <!-- Time --> #}
        {%- elif attr.type == 'time' %}
        <input class="sp-time-field" type="text" name="{{attr.name}}"
            {% if attr.read_only %} disabled {% endif %} 
            value="{{attr.value}}"/>            
        
        {# <!-- Memo --> #}
        {%- elif attr.type == 'memo' %}
        <textarea class="sp-text-field sp-memo-field"
            {% if attr.read_only %} disabled {% endif %} 
            name="{{attr.name}}">{{attr.value|escape}}</textarea>
        
        {# <!-- Select --> #}
        {%- elif attr.related_class != None %}
          {#{% if attr.vals == None %}#}
        <div class="sp-select-field" name="{{attr.name}}"
            related_class="{{attr.related_class}}"
            related_class_title="{{attr.related_class_title}}"
            value="{{attr.value}}">
            
            {# <!-- Select text --> #}
            <input class="sp-select-text" type="text" readonly
                value="{{attr.related_title}}" 
                {% if attr.read_only %} disabled {% endif %}
                />
                
            {# <!-- Select button --> #}
            <input class="sp-button sp-select-button" type="button" value="..."
                title='{{_("Set a value for \"%s\""|format(attr.title))}}' 
                style="font-weight: bold;"
                {% if attr.read_only %} disabled {% endif %} />
                
            {# <!-- Remove button --> #}
            {% if not attr.read_only %}
            <input class="sp-button sp-empty-button" type="button" value="X"
                title='{{_("Remove value of \"%s\""|format(attr.title))}}' 
                style="font-weight: bold; color: red;"
                {% if attr.read_only %} disabled {% endif %} />
            {% endif %}
            {#<!--
            <a href="/list?cls={{attr.related_class}}" target="_blank"
                title="{{attr.related_class}}">[{{_('list')}}]</a>
            -->#}              
        </div>
        {#
        {%- else %}
        <select class="sp-select-field" name="{{attr.name}}"
            related_class="{{attr.related_class}}">
            <option value="null" 
                {% if attr.value == None %} selected {% endif %}>{{_('none')}}</option>
            {% for value in attr.vals %}
            <option value="{{value.id}}" 
                {% if value.id == attr.value %}selected{%endif%}>{{value.title}}</option>
            {% endfor %}
        </select>
        <!--
            {% if attr.value %}
            <a href="/dashboard/edit?cls={{attr.related_class}}&id={{attr.value}}" 
                target="_blank">[{{_('edit')}}]</a>-->
        {% endif %}
        #}
        {%- else %}
        {# <!-- Everything else --> #}
        <input class="sp-text-field" type="text" name="{{attr.name}}" 
            value="{{attr.value|escape}}"
            {% if attr.read_only %} disabled {% endif %} />
        {% endif %}
        </div>
    </div>
    {% endfor %}
    <div style="height: 40px;">
    </div>
</div>

{{util.jquery()}}
{{util.jquery_ui()}}
{{util.dateformat()}}

<script type="text/javascript">
    $(document).ready(function() {
    	
    	$('.sp-edit-field:first').find('input:first').focus();
    	
    	// {# remove value from select-field #} 
    	$('.sp-empty-button').click(function() {
    		$(this).parent().attr('value', '');
    		$(this).parent().find('.sp-select-text').attr('value', '');
    	});
    	
    	// {# search on select-dialog #} 
    	function click_search (button, related_class, q) {
    		
    		if (q == undefined) {
    			q = $('.sp-search-text').val();
    		}
    		
    		$.ajax({
                url: "{{tg.url('/dashboard/search')}}",
                type: 'post',
                dataType: 'html',
                data: {
                    cls: related_class,
                    q: q,
                    rp: '25', // {# maximun number of results in the select dialog #} 
                },
                success: function(res) {
                    $('#edit-dialog').html(res);
                    
                    $('.sp-search-button').click(function() {
                        click_search(button, related_class);
                    });
                    
                    $('.sp-search-text').keypress(function(event) {
                        search_kp(event, $('.sp-search-button'), related_class);
                    }).val(q).focus();
                },
                error: function(f, status, error) {
                    alert('error!');
                    click_search(button, related_class, '');
                    // {# $('#edit-dialog').dialog('close'); #} 
                }
            });
    	}
    	
    	function search_kp(event, button, related_class) {
    		if (event.which == 13) {
                click_search(button, related_class);
            }
    	}
    	
    	$('.sp-select-button').click(function() {
    		var field = $(this).parent();    		
    		var related_class = field.attr('related_class');
    		var related_class_title = field.attr('related_class_title');
    		
    		$('#edit-dialog').dialog({
            	title: related_class_title,
            	width: 950,
                height: 550,
                resizable: false,
                modal: true,
                buttons: {
                	"{{_('Ok')}}": function() {
                		// {# get the id of the selected row #} 
                        var id_selected = '';
                        $('#edit-dialog .sp-grid .sp-grid-rowid').each(function() {
                            if ($(this).attr('checked') == true) {
                                id_selected = $(this).attr('id_row');
                            }
                        });
                        
                        if (id_selected != '') {
                        	$.ajax({
                        		url: "{{tg.url('/dashboard/title')}}",
                        		type: "get",
                        		dataType: "json",
                        		data: {
                        			cls: related_class,
                        			id: id_selected
                        		},
                        		success: function(res) {
                        			if (res.status) {
                        				field.find('.sp-select-text').val(res.title);
                        			}
                        		},
                        		error: function() {
                        		}
                        	});
                        }
                        else {
                        	field.find('.sp-select-text').val('');
                        }
                        
                        field.attr('value', id_selected);
                		
                		$('#edit-dialog').dialog('close');
                	},
                	"{{_('Cancel')}}": function() {
                		$('#edit-dialog').dialog('close');
                	}
                }
            });
    		
    		click_search($('.sp-search-button'), related_class, '');
    	});
        
        $('#save-button').click(function() {
            
            var params = '';
            var required_attrs = [];
            
            // {# text #} 
            $('.sp-text-field').each(function() {
                var required = $(this).parent().parent().attr('required');
                var value = $(this).val();
                        
                if (required == 'true' && value == '') {
                    required_attrs[required_attrs.length] = $(this).parent().parent().attr('attr-title');
                }
                
                params += 
                    '<input type="hidden" ' + 
                        'name="fld_' + $(this).attr('name') + '" ' + 
                        'value="' + value + '"/>\n';
            });
            
            // {# checkbox #} 
            $('.sp-checkbox-field').each(function() {
                params += 
                    '<input type="hidden" ' + 
                        'name="fld_' + $(this).attr('name') + '" ' + 
                        'value="' + $(this).attr('checked') + '"/>\n';
            });

            // {# date #} 
            $('.sp-date-field').each(function() {
                
                var date_value = $(this).datepicker('getDate');
                
                if (date_value != null) {
                    var year = date_value.getFullYear()
                    var month = date_value.getMonth() + 1;
                    var day = date_value.getDate();
                
                    date_value = year + '-' + month + '-' + day;
                }
                else {
                    date_value = '';
                }
                
                var required = $(this).parent().parent().attr('required');
                        
                if (required == 'true' && date_value == '') {
                    required_attrs[required_attrs.length] = $(this).parent().parent().attr('attr-title');
                }
                
                params += 
                    '<input type="hidden" ' + 
                        'name="fld_' + $(this).attr('name') + '" ' + 
                        'value="' + date_value + '"/>\n';
            });
            
            // {# time #} 
            $('.sp-time-field').each(function() {
                var required = $(this).parent().parent().attr('required');
                var value = $(this).val();
                        
                if (required == 'true' && value == '') {
                    required_attrs[required_attrs.length] = $(this).parent().parent().attr('attr-title');
                }
                
                params += 
                    '<input type="hidden" ' + 
                        'name="fld_' + $(this).attr('name') + '" ' + 
                        'value="' + value + '"/>\n';
            });
            
            // {# select fields #} 
            $('.sp-select-field').each(function() {
                
                var required = $(this).parent().parent().attr('required');
                var sel_value = $(this).attr('value');
                        
                if (required == 'true' && sel_value == '') {
                    required_attrs[required_attrs.length] = $(this).parent().parent().attr('attr-title');
                }
                
                params += 
                    '<input type="hidden" ' + 
                        'name="fld_' + $(this).attr('name') + '" ' + 
                        'value="' + sel_value + '"/>\n';
            });
            
            if (required_attrs != '') {
                var alert_msg = "{{_('The following fields must be filled:')}}";
                alert_msg += '<br>';
                for (var i=0; i<required_attrs.length; i++) {
                    alert_msg += 
                        '<p style="margin-left: 20px; ' +
                            'font-size: 11px;' +
                            'font-family: Arial;' +
                            'font-weight: bold;">' + 
                        required_attrs[i] + 
                        '</p>';
                }
                
                $('#edit-dialog').
                    html("<p style=''>" + alert_msg + "</p>").
                    dialog({
                    	title: "{{_('Required fields')}}",
                        resizable: false,
                        height: 250,
                        width: 450,
                        modal: true,
                        buttons: {
                        	"{{_('Close')}}": function() {
                        		$('#edit-dialog').dialog('close');
                        	}
                        }
                    });
            }
            else {
                $('#edit-form').append(params).submit();
            }
        });
        
        // {# create datepickers 
        // with specific date format and options #} 
        
        // {# date format settings #} 
        var first_day = "{{tg.config.get('js.first_day', '1')}}";
        // "datepicker" setting 
        var date_fmt0 = "{{tg.config.get('js.date_format', 'mm/dd/yyyy')}}";
        // "format date library" setting 
        var date_fmt1 = "{{tg.config.get('js.date_format2', 'mm/dd/yyyy')}}";
        
        $('.sp-date-field').each(function() {
        	if (!$(this).attr('disabled')) {
        		$(this).datepicker({
        		    firstDay: first_day,
        		    changeMonth: true,
        		    changeYear: true,
        		    showOn: 'button',
        		    autoSize: true,
        		    nextText: "{{_('Next')}}",
        		    prevText: "{{_('Prev')}}",
        		    dateFormat: date_fmt0,
        		    dayNames: ["{{_('Sunday')}}", "{{_('Monday')}}", "{{_('Tuesday')}}",
        		               "{{_('Wednesday')}}", "{{_('Thursday')}}", "{{_('Friday')}}",
        		               "{{_('Saturday')}}"],
        		    dayNamesMin: ["{{_('Su')}}", "{{_('Mo')}}", "{{_('Tu')}}", "{{_('We')}}",
        		                  "{{_('Th')}}", "{{_('Fr')}}", "{{_('Sa')}}"],
        		    monthNames: ["{{_('January')}}", "{{_('February')}}", "{{_('March')}}",
        		                 "{{_('April')}}", "{{_('May')}}", "{{_('June')}}",
                                 "{{_('July')}}", "{{_('August')}}", "{{_('September')}}", 
                                 "{{_('October')}}", "{{_('November')}}", "{{_('December')}}"]
               });
        	}
        	else {
        		var date_value = new Date($(this).val()).format(date_fmt1);
        		$(this).css('width', '85px').val(date_value);
        	}
        });
    });
</script>
{% endblock %}