{% extends 'sapns/base.html' %}
{% import 'sapns/dashboard/util.html' as util %}

{# Head #}
{% block head %}
    {{ super() }}
    {{ util.jquery() }}
    {{ util.jquery_ui() }}
    {{ util.jquery_jstree() }}
{% endblock %}

{# Middle #}
{% block middle %}
    {{ super() }}
    
    <div style="height: 30px; margin-top: 10px; margin-left: 20px; font-size: 20px;">
        <a href="/dashboard">{{_('Dashboard')}}</a>
    </div>

    <!-- parent shortcut -->
    <div style="margin-left: 20px;">
        {% if sc_parent %}
        <a href="{{tg.url('/dashboard', sc_parent=sc_parent)}}">[{{_('up')}}]</a>
        {% else %}
        <a href="">[  ]</a>
        {% endif %}
    </div>
    
    <div id="sc-container">
    {% if sc_type == 'list' %}
        {% include 'sapns/shortcuts/list.html' %}
    {% elif sc_type == 'bigicon' %}
        {% include 'sapns/shortcuts/bigicon.html' %}
    {% endif %}
    </div>
    
    <div>
    {% if h.authorize.has_any_permission('manage', 'utilities') %}
    <div class="sp_shortcut">
        <div style="padding-left: 10px;">
        <a href="{{tg.url('/dashboard/util', 
            params=dict(came_from='/dashboard'))}}">{{_('Utilities')}}</a>
        </div>
    </div>
    {% endif %}
    
    {% if h.authorize.has_any_permission('manage', 'views') %}
    <div class="sp_shortcut">
        <div style="padding-left: 10px;">
        <a href="{{tg.url('/dashboard/views', 
            params=dict(came_from='/dashboard'))}}">{{_('Views')}}</a>
        </div>
    </div>
    {% endif %}
    
    {% if h.authorize.has_any_permission('manage') %}
    <div class="sp_shortcut">
        <div style="padding-left: 10px;">
        <a href="{{tg.url('/dashboard/users', 
            params=dict(came_from='/dashboard'))}}">{{_('Users')}}</a>
        </div>
    </div>
    {% endif %}
    
    <div class="sp_shortcut">
        <div style="padding-left: 10px;">
        <a href="/dashboard/messages">{{_('Messages')}}</a>
        <span class="sp_messages" 
            style="{% if unread > 0 %} font-weight: bold; {% endif %}">{{unread}} / </span>
        <span class="sp_messages">{{messages}} messages</span>
        </div>
    </div>
    </div>
    
    <div id="tree-test">
    </div>

    {#{{curr_lang[0]}}#}
    <!--{#
    <a href="{{tg.url('/setlang', lang='en')}}" 
        {% if curr_lang[0] == 'en' %} style="color: navy;" {% endif %}>[English]</a>    
    <a href="{{tg.url('/setlang', lang='es')}}"
        {% if curr_lang[0] == 'es' %} style="color: navy;" {% endif %}>[Español]</a>
    #}-->
{% endblock %}

{#
<!-- Uncomment the next section and override the "footer" block if you want to -->
<!-- 
{% block footer %}
    {{ super() }}
{% endblock %}
-->
#}

<script type="text/javascript">
    $(document).ready(function(){
    	$('#tree-test').jstree({
    		plugins: ['json_data'],
    		json_data:
    		{ 
    		    data : "node_title", 
    		    // omit `attr` if not needed; the `attr` object gets passed to the jQuery `attr` function
    		    attr : { id : "node_identificator", some-other-attribute : "attribute_value" }, 
    		    // `state` and `children` are only used for NON-leaf nodes
    		    state: "closed", // or "open", defaults to "closed"
    		    children: [ /* an array of child nodes objects */ ]
    		}    			
    	});
    });
</script>