{% extends 'sapns/base.html' %}
{% import 'sapns/dashboard/util.html' as util %}
{% import 'sapns/dashboard/grid.html' as grid_html %}

{% block head %}
    {{ super() }}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- "Sapns - Web Information System: Students" (with caption) -->
    <!-- "Sapns - Web Information System" (without caption) -->
    <!--<title>Sapns - Web Information System{%if grid.caption %}: {{grid.caption}}{%endif%}</title>-->
    {{ util.jquery() }}
    {{ util.jquery_ui() }}
    {{ util.qtip2() }}
    <script type="text/javascript" src="/js/sprintf.min.js"></script>
{% endblock %}

{#{% block header %}
{% endblock %}#}

{% block middle %}
    {{ super() }}
        
    <div id="grid"></div>
        
    <script type="text/javascript">
        {% include 'sapns/components/sapns.grid/sapns.grid.js' %}
        $(document).ready(function() {
        	$('.sp-search-txt').focus();
        	var title = $(document).attr('title');
        	$(document).attr('title', sprintf('[%s] %s', "{{grid.caption}}", title));
        	
        	$('#grid').sapnsGrid({
        	    cls: "{{grid.cls}}",
        	    caption: "{{grid.caption}}",
        	    q: "{{grid.q}}", 
        	    rp: "{{grid.rp}}", 
        	    pag_n: "{{grid.pag_n}}",
        	    actions: {},
        	    url_base: "/dashboard/list/{{grid.cls}}"
        	});
        	
        	$('#grid .sp-search-txt').focus();
        });
    </script>
{% endblock %}