{% extends 'sapns/base.html' %}
{% import 'sapns/dashboard/util.html' as util %}

{% block head %}
    {{ super() }}
    {{ util.jquery() }}
    {{ util.jquery_ui() }}
    {{ util.qtip2() }}
{% endblock %}

{% block middle %}
    {{ super() }}
    
    <div id="grid"></div>
    <!--{% if grid.rel_classes %}-->
    <div id="rel-classes" style="clear:left;padding-left:20px">
        <div class="sp-grid-relatedinfo-title">{{_('Related info')}}</div>
        <select id="rel-classes-sel" style="font-size:11px">
        <!--{% for rc in grid.rel_classes %}-->
        <option cls="{{rc.name}}" ch_attr="{{rc.attr_name}}">{{rc.title}} ({{rc.attr_title}})</option>
        <!--{% endfor %}-->
        </select>
        <button id="rel-classes-show" class="sp-button">{{_('Show')}}</button>
    </div>
    <!--{% endif %}-->

    <script>
        _loader.load(
            { url: "{{tg.url('/js/sprintf/sprintf.min.js?v=1')}}" },
            { url: "{{tg.url('/api/components/grid?v=3')}}" }
        );

        $(function() {
        	$('#grid').sapnsGrid({
        	    cls: "{{grid.cls}}",
        	    caption: "{{grid.caption}}",
        	    q: '{{grid.q}}',
        	    user_filters: {{grid.user_filters}},
        	    rp: "{{grid.rp}}", 
        	    pag_n: "{{grid.pag_n}}",
        	    ch_attr: "{{grid.ch_attr or ''}}",
        	    parent_id: "{{grid.parent_id or ''}}",
        	    actions: {},
        	    url_base: "{{tg.url('/dashboard/list/%s' % grid.cls)}}",
        	    // {% if grid.shift_enabled %} 
        	    shift_enabled: true,
        	    // {% endif %} 
        	    height: 450,
        	    actions_inline: true, 
        	    //hide_id: false,
        	    dblclick: 'edit'
        	});
        	
        	$('#grid .sp-search-txt').focus();
        	
        	$('#rel-classes-show').click(function() {
        	    var ids = $('#grid').sapnsGrid('getSelectedIds');
        	    if (ids.length > 0) {
        	        var opt = $('#rel-classes-sel option:selected'),
                        cls = opt.attr('cls'),
                        ch_attr = opt.attr('ch_attr'),
                        action = "{{tg.url('/dashboard/list/')}}" + cls;

                    var form_ = $('<form/>', {
                        id: 'rel-classes-form',
                        method: 'get',
                        action: action,
                        target: '_blank'
                    });

                    var ch_attr_ = $('<input/>', {
                        type: 'hidden',
                        name: 'ch_attr',
                        value: ch_attr
                    });

                    var parent_id_ = $('<input/>', {
                        type: 'hidden',
                        name: 'parent_id',
                        value: ids[0]
                    });

                    form_.append(ch_attr_).append(parent_id_).appendTo('body').submit().remove();
        	    }
        	});
        });
    </script>
{% endblock %}
