{% import 'sapns/dashboard/util.html' as util %}
{% import 'sapns/dashboard/grid.html' as grid_html %}

{#{{ util.qtip2() }}#}

<div>
    <div id="{{grid.name}}" class="sapns_grid"></div>
</div>

<script type="text/javascript">
    {% include 'sapns/components/sapns.grid/sapns.grid.min.js' %}
    $(document).ready(function() {
        
        $('#{{grid.name}}').sapnsGrid({
            q: "{{grid.q or ''}}",
            search_params: {
                data: {
                    filters: '{{grid.filters or ""}}',
                }
            },
            cls: "{{grid.cls}}",
            caption: "",
            actions: [],
            with_pager: false,
            exportable: false
        });
        
        $('#{{grid.name}} .sp-search-txt').focus();
    });
</script>