<div>
    <div id="{{grid.name}}" class="sapns_grid"></div>
</div>

<script type="text/javascript">
    {% include 'sapns/components/sapns.grid/sapns.min.grid.js' %}
    $(document).ready(function() {
        
        $('#{{grid.name}}').sapnsGrid({
            q: "{{grid.q or ''}}",
            search_params: {
                data: {
                    filters: '{{grid.filters or ""}}',
                }
            },
            rp: 25,
            cls: "{{grid.cls}}",
            caption: "",
            actions: [],
            with_pager: false,
            exportable: false,
            height: 400,
            select_first: true,
        });
        
        $('#{{grid.name}} .sp-search-txt').focus();
    });
</script>