{% macro list(url, submit_title, cls) %}
    <form method="post" action="{{url}}">
        <input type="hidden" name="show_ids" value="false" >
        {% if cls %}
        <input type="hidden" name="cls" value="{{cls}}" >
        <input type="hidden" name="caption" value="{{submit_title}}" >
        {% else %}
        <input type="text" name="cls" value="" >
        <!-- <input type="hidden" name="caption" value="" > -->
        {% endif %}
        <input class="sp-button" type="submit" value="{{submit_title}}" >
    </form>
{% endmacro %}

{% macro jquery(tg=None) %}
<!-- JQuery -->
{# <script type="text/javascript" src="/js/jquery.min.js"></script> #}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
{% endmacro %}

{% macro jquery_ui(tg=None) %}
<!-- JQuery UI -->
{# <script type="text/javascript" src="/js/jquery-ui.min.js"></script> #}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>

{# 
   Uncomment the style you like to be applied or get another at
   http://jqueryui.com/themeroller/
#}

{# <!-- smoothness --> #}
<link rel="stylesheet" type="text/css" media="screen" 
    href="/css/smoothness/jquery-ui.css">

{# sunny #}
{#-
<!--
<link rel="stylesheet" type="text/css" media="screen" 
    href="/css/sunny/jquery-ui.css">
-->
#}    
  
{# <!-- overcast --> #}
{#-
<!--
<link rel="stylesheet" type="text/css" media="screen" 
    href="/css/overcast/jquery-ui.css">
-->
#}

{% endmacro %}

{% macro jquery_jstree() %}
<script type="text/javascript" src="/js/jquery.jstree.js"></script>
{% endmacro %}

{% macro dateformat() %}
<script type="text/javascript" src="/js/dateformat.js"></script>
{% endmacro %}

{% macro wtooltip() %}
<script type="text/javascript" src="/js/wtooltip.min.js"></script>
{% endmacro %}

{% macro qtip() %}
<script type="text/javascript" src="/js/jquery.qtip.min.js"></script>
{% endmacro %}

{% macro qtip2() %}
<link rel="stylesheet" type="text/css" href="/js/qtip2/jquery.qtip.min.css">
<script type="text/javascript" src="/js/qtip2/jquery.qtip.min.js"></script>
{% endmacro %}