{% import 'sapns/dashboard/util.html' as util %}
<style>
#sp-shortcut-share-users .user-add .sp-select-text { width:280px }
#sp-shortcut-share-users .users-list { height:200px; overflow:auto; padding:3px; border-radius:3px; background-color:#f2f2f2 }
#sp-shortcut-share-users .users-list .user { height:20px; padding:2px 2px 2px 10px; border-radius:2px; margin-bottom:4px; clear:left; background-color:#ECEFCC }
#sp-shortcut-share-users .users-list .user .col { float:left; margin-right:3px }
#sp-shortcut-share-users .users-list .user .col.user-name { width:510px }
#sp-shortcut-share-users .users-list .user .col.button { cursor:pointer }
#sp-shortcut-share-users .users-list .user .col.button img { width:20px; height:20px }
</style>

<div id="sp-shortcut-share-users">
    <div class="sp-field-row">
        <div class="sp-field">
            <div class="label">{{_('User')}}</div>
            <div class="user-add"></div>
        </div>
        
        <div class="sp-field">
            <div class="label">&nbsp;</div>
            <button class="user-add-button">{{_('Add')}}</button>
        </div>
    </div>
    
    <div class="users-list">
        {#<div class="user">
            <div class="col user-name">Paco</div>
            <div class="col button" title="{{_('Remove')}}"><img src="{{tg.url('/images/sapns/icons/delete.png')}}"></div>
        </div>#}
    </div>
</div>

{% raw %}
<textarea id="user-tmpl" style="display:none">
    <div class="user" user_id="{{user.id}}">
        <div class="col user-name">{{user.name}}</div>
        <div class="col button" title="{{_('Remove')}}"><img src="{{src}}"></div>
    </div>
</textarea>
{% endraw %}

<script src="{{tg.url('/js/mustache/mustache.min.js')}}"></script>
<script src="{{tg.url('/js/sprintf/sprintf.min.js')}}"></script>
<script>
    {% include 'sapns/components/sapns.grid/sapns.grid.min.js' %}
    {% include 'sapns/components/sapns.selector.min.js' %}
    
    
    function share_users(callback, callback_error) {
        
        var users = [];
        $('#sp-shortcut-share-users .users-list .user').each(function() {
            users.push($(this).attr('user_id')*1);
        });
        
        $.ajax({
            url: "{{tg.url('/dashboard/sc/share')}}",
            data: { shortcut_id: "{{shortcut.id}}", users: JSON.stringify(users) },
            success: function(res) {
                if (res.status) {
                    callback();
                }
                else {
                    alert('Error!');
                    callback_error();
                }
            },
            error: function() {
                alert('Error!');
                callback_error();
            }
        });        
    }
    
    $(function() {
        $('#sp-shortcut-share-users .user-add').sapnsSelector({
            rc: 'sp_users', rc_title: "{{_('Users')}}"
        });
        
        $('#sp-shortcut-share-users .users-list').resizable({
            minHeight: 200,
            maxHeight: 350,
            handles: 'n, s'
        })
        
        var user_tmpl = $('#user-tmpl').text();
        
        $('#sp-shortcut-share-users .user-add-button').click(function() {
            var user_id = $('#sp-shortcut-share-users .user-add').sapnsSelector('getValue'),
                user_title = $('#sp-shortcut-share-users .user-add').sapnsSelector('getTitle');
            if (user_id) {
                $('#sp-shortcut-share-users .user-add').sapnsSelector('setValue', null);
                if ($('#sp-shortcut-share-users .users-list .user[user_id='+user_id+']').length === 0) {
                    var user = Mustache.render(user_tmpl, {
                        user: { id: user_id, name: user_title },
                        src: "{{tg.url('/images/sapns/icons/delete.png')}}"
                    });
                    
                    $('#sp-shortcut-share-users .users-list').append(user);
                }
            }
        });
        
        var s_ = '#sp-shortcut-share-users .users-list .user .col.button';
        $(document).off('click', s_).on('click', s_, function() {
            var user = $(this).parents('.user');
            user.fadeOut('slow', function() {
                user.remove();
            });
        });
    });
</script>