{% extends 'sapns/base.html' %}
{% import 'sapns/dashboard/util.html' as util %}

{% block head %}
    {{ super() }}
    {{ util.jquery() }}
    {{ util.jquery_ui() }}
    {{ util.qtip2() }}
    <link rel="stylesheet" href="{{tg.url('/css/permissions/create_shortcuts.css', params=dict(v=1))}}">
{% endblock %}

{% block middle %}
    <div id="permissions-container">
        <div class="sp-field-row">
            <div class="sp-field">
                <div class="label">{{_('User')}}</div>
                <div id="user"></div>
            </div>
        </div>
        <div class="permission-name">{{ permission.title }} <span>({{ permission.name }})</span></div>
        <div class="message">{{_('Select the groups to include this permission in')}}</div>
        <ul class="groups-list"></ul>
        
        <div class="buttons">
            <button class="cancel">{{_('Cancel')}}</button>
            <button class="ok">{{_('Ok')}}</button>
        </div>
    </div>
    
    <script src="{{tg.url('/js/sprintf.min.js', params=dict(v=1))}}"></script>
    <script>
    {% include 'sapns/components/sapns.grid/sapns.grid.min.js' %}
    {% include 'sapns/components/sapns.selector.min.js' %}
    $(function() {
        
        $('#user').sapnsSelector({
            rc: 'sp_users', rc_title: "{{_('Users')}}",
            value: "{{tg.request.identity['user'].user_id}}",
            onChange: function(user_id) {
                if (user_id) {
                                    load_groups(user_id);
                }
                else {
                    $('#permissions-container .groups-list').html('');
                }
            }
        });
        
        var en_proceso = false;
        
        function go_back() {
            var goback_form = '<form method="post" action="{{came_from}}"></form>';
            $(goback_form).appendTo('body').submit().remove();
        }
        
        function load_groups(user_id) {
            $('#permissions-container .groups-list').html("<p>{{_('Loading')}}...</p>");
            $.ajax({
                url: "{{tg.url('/dashboard/permissions/user_groups/')}}",
                data: { user_id: user_id },
                success: function(content) {
                    $('#permissions-container .groups-list').html(content);
                },
                error: function() {
                    alert('Error!');
                }
            });
        }
        
        $('#permissions-container .buttons button.ok').click(function() {
            
            if (!en_proceso) {
                en_proceso = true;
                
                var selected_groups = [];
                $('#permissions-container .groups-list .group .checkbox:checked').each(function() {
                    var shortcut_id = $(this).parent().parent().attr('id_shortcut')*1;
                    selected_groups.push(shortcut_id);
                });
                
                if (!$('#user').sapnsSelector('getValue')) {
                    en_proceso = false;
                    alert("{{_('A user must be specified')}}");
                    return;
                }
                
                if (selected_groups.length === 0) {
                    en_proceso = false;
                    alert("{{_('There are no groups selected')}}");
                    return;
                }
                else {
                    $.ajax({
                        url: "{{tg.url('/dashboard/permissions/create_shortcut_/')}}",
                        data: {
                            user_id: $('#user').sapnsSelector('getValue'),
                            permission_id: "{{ permission.id }}",
                            groups: JSON.stringify(selected_groups)
                        },
                        success: function(res) {
                            if (res.status) {
                                go_back();
                            }
                            else {
                                en_proceso = false;
                                if (res.msg) {
                                    alert(res.msg);
                                }
                                else {
                                    alert('Error!');
                                }
                            }
                        },
                        error: function() {
                            en_proceso = false;
                            alert('Error!');
                        }
                    });
                }
            }
        });
        
        $('#permissions-container .buttons button.cancel').click(function() {
            if (!en_proceso) {
                go_back();
            }
        });
        
        load_groups($('#user').sapnsSelector('getValue'));
    });
    </script>
{% endblock %}