{% extends 'base.html' %}
{% import 'util.html' as util %}

<!-- Uncomment the next section and override the "html_head" block if you want to -->
<!-- 
{% block head %}
    {{ super() }}
{% endblock %}
-->

<!-- Uncomment the next section and override the "header" block if you want to -->
<!--
{% block header %}
    {{ super() }}
{% endblock %}
-->

<!-- Uncomment the next section and override the "middle" block if you want to -->
{% block middle %}
    {{ super() }}
    
    <ul>
    <li>
        <a href="{{tg.url('/util/extract_model')}}">{{_('Extract model')}}</a>
    </li>

    <li>
        <a href="{{tg.url('/util/code_model', app_name=tg.config.get('app.name', 'Sapns'))}}">{{_('Code model')}}</a>
    </li>
    
    <li>
        <a href="{{tg.url('/views/edit', came_from=tg.url('/util'))}}">{{_('View editor')}}</a>
    </li>
    </ul>
{% endblock %}

<!-- Uncomment the next section and override the "footer" block if you want to -->
<!-- 
{% block footer %}
    {{ super() }}
{% endblock %}
-->