{% extends 'base.html' %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/model.css')}}"/>
{% endblock %}

{% block middle %}
    <div>
        <a style="font-size: 9px;" 
            href="{{tg.url('/util/code_model', file_name=tg.config.get('app.name', 'Sapns')+'.model.py.txt')}}">
            [{{_('Source of this model')}}]
        </a>
    </div>

    {#{{tables}}#}
    {% for table in tables %}
    <div style="margin-top: 15px; border: 1px solid gray;">
        <div class="table_name">{{table.name}} ({{table.class_name}})</div>
        <div class="col_title col_name">{{_('Name')}}</div>
        <div class="col_title col_type">{{_('Type')}}</div>
        <div class="col_title">{{_('Primary key/References')}}</div>
        {% for col in table.columns %}
        <div class="col_name">{{col.name}}</div>
        <div class="col_type" style="color: 
            {%- if col.type_name == 'Integer' %}green
            {%- elif col.type_name == 'Numeric' %}maroon
            {%- elif col.type_name == 'Date' %}brown
            {%- elif col.type_name == 'Time' %}red
            {%- elif col.type_name == 'Unicode' %}olive
            {%- elif col.type_name == 'String' %}navy
            {%- elif col.type_name == 'Boolean' -%}blue          
            {%- else %}orange{%- endif %};">{{col.type_name}}</div>
        {% if col.fk_table != None %}
        <div class="col_ref">[{{col.fk_table}}]</div>
        {% elif col.pk %}
        <div>*</div>
        {% else %}
        <div>.</div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    
    <div>
        <a style="font-size: 9px;" 
            href="{{tg.url('/util/code_model', file_name=tg.config.get('app.name', 'Sapns')+'.model.py.txt')}}">
            [{{_('Source of this model')}}]
        </a>
    </div>
{% endblock %}