<style>
#title-class { font:18px arial; width:565px }
#ins-list { height:350px; overflow:auto; margin-top:5px }
#ins-list .attribute { height:21px; margin-bottom:2px; padding:2px 2px 2px 20px; 
background-color:#f2f2f2; border-radius:2px; clear:left }
#ins-list .attribute div { float:left }
#ins-list .attribute div.attr-title { margin-right:10px }
#ins-list .attribute div.attr-title input { font:12px arial; height:13px; width:485px }
#ins-list .attribute.required div.attr-title input { font-weight:bold }
</style>

<div class="class-title">
    <div>
        <div>
            <input id="title-class" type="text" value="{{title}}">
        </div>
    </div>
</div>

<div id="ins-list">    
    <!--{% for attr in insertion %}-->
    <div class="attribute {% if attr.required %} required {% endif %}" attr_id="{{attr.id}}">
        <!-- Attribute -->
        <div class="attr-title"> 
            <input type="text" title="{{attr.name}}" value="{{attr.title}}">
        </div>
        
        <!-- Required -->
        <div class="attr-required">
            <input type="checkbox" title='{{_("\"%s\" required")|format(attr.title)}}'
                {%- if attr.required %} checked {% endif %}>
        </div>
    </div>
    <!--{% endfor %}-->
</div>

<script>
    function insertion_order(callback, callback_error) {
        var attributes = [],
            order = 0;
        $('#ins-list .attribute').each(function() {
            attributes.push({
                id: $(this).attr('attr_id'),
                title: $(this).find('.attr-title input').val(),
                required: $(this).find('.attr-required input').prop('checked'),
                order: order
            });
            
            order += 1;
        });
        
        $.ajax({
            url: "{{tg.url('/dashboard/insertion_order_save/')}}",
            data: {
                attributes: JSON.stringify(attributes),
                title: $('#title-class').val()
            },
            success: function(res) {
                if (res.status) {
                    callback();
                }
                else {
                    callback_error();
                }
            },
            error: function() {
                callback_error();
            }
        });
    }

    $(function() {
        $('#ins-list').sortable({
            axis: 'y'
        });
        
        $('#ins-list .attr-required input').change(function() {
            if ($(this).prop('checked')) {
                $(this).parents('.attribute').addClass('required');
            }
            else {
                $(this).parents('.attribute').removeClass('required');
            }
        });
    });
</script>