<style>
#ref_list { height:300px; overflow:auto }
#ref_list .ref_attr { clear:left; height:20px; background-color:#f2f2f2; margin-bottom:3px;
border-bottom:1px solid #777; font:13px arial; margin-right:5px; border-radius:2px;
cursor:pointer }
#ref_list .ref_attr .col { float:left; margin-right:10px }
#ref_list .ref_attr .col.title { margin-top:3px }
</style>

<div id="reference">
    <div id="ref_list">
        <!--{% for attr in reference %}-->
        <div class="ref_attr" id_attr="{{attr.id}}">
            <div class="col">
                <input class="checkbox" type="checkbox" 
                    {% if attr.included %}checked="checked"{% endif %}/>
            </div>
            
            <div class="col title" title="{{attr.name}}">{{attr.title}}</div>
        </div>
        <!--{% endfor %}-->
    </div>
</div>

<script>
function reference_order(callback, callback_error) {
    var atributos = [];
    $('#ref_list .ref_attr input.checkbox:checked').each(function() {
        atributos.push($(this).parents('.ref_attr').attr('id_attr')*1);
    });
    
    $.ajax({
        url: "{{tg.url('/dashboard/reference_order_save/')}}", 
        data: {
            cls: "{{cls}}",
            attributes: JSON.stringify(atributos)
        },
        success: function(res) {
            if (res.status) {
                callback();
            }
            else {
                callback_error();
            }
        },
        error: function() {
            callback_error();
        }
    });
}

$(function() {
    $('#ref_list').sortable({
        axis: 'y'
    });
});    
</script>