#main { padding:3px }

#main .no-roles { color:maroon; text-align:center; font-size:16px }
#main .no-roles span { font-weight:bold }

#title { height:26px; font-size:15px; padding:3px }

#roles_list { height:515px; margin-bottom:10px; background-color:#f2f2f2; border-radius:5px; padding:5px; overflow:auto }

.role_row { height: 25px; width:500px; border-radius:3px; padding-top: 5px; 
    padding-left: 10px; font-size: 12px; margin-bottom:4px; background-color:#d6db8e; color:#444; box-shadow:1px 1px #999 }

.role_name { float: left; font-weight: bold; width:430px }
.role_title { font-weight: bold; font-size:16px }

#buttons { padding-right:10px }
#buttons button { float:right; font:15px arial; margin-left:5px; width:100px }
