#main {
    padding: 10px;
}

#title {
    height: 35px;
    font-size: 15px;
}

#roles_list {
    height: 500px;
}

.role_row {
    height: 25px;
    width: 250px;
    border: 1px solid gray;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 12px;
    margin-bottom: 2px;
}

.role_name {
    float: left;
    font-weight: bold;
    width: 220px;
}

.role_title {
    font-weight: bold;
}