{% import 'sapns/dashboard/util.html' as util %}

<div>
    <div id="logs" class="sapns_grid"></div>
</div>

<script>
    _loader.load(
        { url: "{{tg.url('/api/components/grid?v=5')}}" }
    );

    $(function() {
        $('#logs').sapnsGrid({
            search_params: {
                url: "{{tg.url('/dashboard/logs/grid')}}",
                data: {
                    table_name: "{{table_name}}",
                    row_id: "{{row_id}}"
                }
            },
            rp: 25,
            cls: "sp_logs",
            caption: "",
            actions: [],
            with_pager: false,
            exportable: false,
            height: 420,
            hide_id: true,
            with_filters: false
        });
    });
</script>
