{% import 'sapns/dashboard/util.html' as util %}

<div>
    <div id="logs" class="sapns_grid"></div>
</div>

<script type="text/javascript">
    {% include 'sapns/components/sapns.grid/sapns.grid.min.js' %}
    $(document).ready(function() {
        
        $('#logs').sapnsGrid({
            search_params: {
                url: "{{tg.url('/dashboard/logs/grid')}}",
                data: {
                    table_name: "{{table_name}}",
                    row_id: "{{row_id}}"
                }
            },
            rp: 25,
            cls: "sp_logs",
            caption: "",
            actions: [],
            with_pager: false,
            exportable: false,
            height: 420,
            hide_id: true,
        });
        
        $('#logs .sp-search-txt').focus();
    });
</script>