<div class="sp_view_edit sp_view_columns">
    <div class="sp_view_caption">{{_('Columns')}}</div>
    <table>
        <tr>
            <td><input id="btn_add_column" class="sp-button" type="button" value="{{_('Add column')}}"/></td>
        </tr>
    </table>
    <!-- list of columns -->
    <table id="column_list">
        {% for col in view.columns %}
        <tr class="column_item" pos="{{loop.index0}}">
        <td class="sp-label-field ">{{_('Title')}}</td>
        <td><input class="sp-text-field sp_column_title" type="text" value="{{col.title}}"/></td>
        <td class="sp-label-field ">{{_('Definition')}}</td>
        <td><input class="sp-text-field sp_column_definition" type="text" value="{{col.definition}}"/></td>
        <td class="sp-label-field ">{{_('Alias')}}</td>
        <td><input class="sp-text-field sp_column_alias" type="text" value="{{col.alias}}"/></td>
        <td class="sp-label-field ">{{_('Align')}}</td>
        <td>
        <select class="sp-button sp_column_align">
            <option value="center" {% if col.align == 'center' %}selected{% endif %}>{{_('center')}}</option>
            <option value="left"   {% if col.align == 'left'   %}selected{% endif %}>{{_('left')}}</option>
            <option value="right"  {% if col.align == 'right'  %}selected{% endif %}>{{_('right')}}</option>
        </select>
        </td>         
        <td><input class="sp-button btn_remove_column" type="button" value="{{_('Remove column')}}"/></td>
        <td><input class="sp-button btn_up_column" type="button" value="{{_('Up')}}"/></td>
        <td><input class="sp-button btn_down_column" type="button" value="{{_('Down')}}"/></td>
        </tr>
        {% endfor %}
    </table>
</div>