{% extends 'base.html' %}

{% block middle %}
    <h1>Very soon on your screen!</h1>
    <ul>
        <li>
            <a href="{{tg.url('/dashboard/views/edit', 
                params=dict(came_from=tg.url('/dashboard/views')))}}">New/Edit</a>
        </li>
        <li>
            <a href="{{tg.url('/dashboard/views/share', 
                params=dict(came_from=tg.url('/dashboard/views')))}}">Share</a>
        </li>
        <li>
            <a href="{{tg.url('/views/delete', 
                params=dict(came_from=tg.url('/dashboard/views')))}}">Delete</a>
        </li>
    </ul>
{% endblock %}