<div class="sp_view_edit sp_view_relations">
    <div class="sp_view_caption">{{_('Relations')}}</div>
    <table>
        <tr>
            <td><input id="btn_add_relation" type="button" value="{{_('Add relation')}}"/></td>
        </tr>
    </table>
    <!-- list of relations -->
    <table id="relation_list">
    {% for r in view.relations[1:] %}
        <tr class="relation_item" pos="{{loop.index0}}">
        <td class='sp_relation_lbl'>{{_('Table')}}</td>
        <td><input class="sp_relation_table" type="text" value="{{r.table}}"/></td>
        <td class='sp_relation_lbl'>{{_('Alias')}}</td>
        <td><input class="sp_relation_alias" type="text" value="{{r.alias}}"/></td>
        <td class='sp_relation_lbl'>{{_('Condition')}}</td>
        <td><input class="sp_relation_condition" type="text" value="{{r.condition}}"/></td>
        <td><input class="btn_remove_relation" type="button" value="{{_('Remove relation')}}"/></td>
        <td><input class="btn_up_relation" type="button" value="{{_('Up')}}"/></td>
        <td><input class="btn_down_relation" type="button" value="{{_('Down')}}"/></td>
        </tr>
    {% endfor %}
    </table>
</div>