{% extends 'sapns/base.html' %}
{% import 'sapns/dashboard/util.html' as util %}

{% block head %}
    {{ super() }}
    {{ util.jquery() }}
    {{ util.jquery_ui() }}
    {{ util.qtip2() }}
{% endblock %}

{% block middle %}
<!-- {# dialogs (now ain't visible) #} -->
<div id="delete-confirmation" style="display:none" title="{{_('Delete shortcut')}}">
  <p>{{_('Do you want to delete this shortcut?')}}</p>
  <p id="sp-shortcut-title" style="font-weight:bold"></p>  
</div>

<div id="sp-exploration-head">
    <!--{% if this_shortcut.id %}-->
    <span class="title">{{this_shortcut.title}}
        <!--{% if user.id != tg.request.identity['user'].user_id %}-->
        [[{{user.display_name}}]]
        <!--{% endif %}-->
    </span>
    <!--{% else %}-->
        <!--{% if user.id != tg.request.identity['user'].user_id %}-->
        <span class="title">
        [[{{user.display_name}}]]
        </span>
        <!--{% endif %}-->
    <!--{% endif %}-->

    <!--{% if h.is_manager() or h.allowed('dashboard-management') %}-->
    <div id="sp-shortcut-sort" class="button" title="{{_('Click here to place your shortcuts')}}"><img src="{{tg.url('/images/sapns/icons/place_icons.png')}}"></div>
    <div id="sp-shortcut-new" class="button" title="{{_('New')}}"><img src="{{tg.url('/images/sapns/icons/new.png')}}"></div>
    <!--{% if (sc_parent or '') != '' %}-->
    <a class="sp-shortcut-up button" href="{{tg.url('/dashboard/data_exploration/', params=dict(sc_parent=sc_parent, user_id=user.id))}}" title="{{_('up')}}">
        <img src="{{tg.url('/images/sapns/icons/north.png')}}">
    </a>
    <!--{% endif %}-->
    <!--{% endif %}-->
</div>

<div id="sp-shortcut-list"></div>

<div id="sp-shortcut-options" class="caja3d" style="display:none">
    <div class="option edit">{{_('Edit')}}</div>
    <div class="option users">{{_('Users')}}</div>
    <div class="option roles">{{_('Roles')}}</div>
    <!--{% if sc_parent %}-->
    <div class="option up">{{_('Up')}}</div>
    <!--{% else %}-->
    <div class="option up-disabled">{{_('Up')}}</div>
    <!--{% endif %}-->
    <div class="option delete">{{_('Delete')}}</div>
</div>

<script>
    _loader.load(
        { url: "{{tg.url('/js/sidebar-messages.min.js?v=2')}}" }
    );
    
    {{ h.load('sapns/shortcuts/list.js', h=h, user=user, this_shortcut=this_shortcut, sc_parent=sc_parent) }}
</script>
{% endblock %}
