{% extends 'sapns/base.html' %}
{% import 'sapns/dashboard/util.html' as util %}

{% block head %}
    {{ super() }}
    {{ util.jquery() }}
    {{ util.jquery_ui() }}
    {{ util.jquery_jstree() }}
    <style type="text/css">
        #sc_list {
            height: 565px;
            overflow: auto;
        }
        
        #exploration_head {
            height: 20px;
            padding-left: 25px;
            padding-top: 2px;
            border: 1px solid gray;
            border-radius: 5px;
            margin: 4px;
        }
    </style>
{% endblock %}

{% block middle %}
<!-- {# dialogs (now ain't visible) #} -->
{#<div id="delete-confirmation" style="display: none;" title="{{_('Delete shortcut')}}">
  <p>{{_('Do you want to delete this shortcut?')}}</p>
  <p id="sp-shortcut-title" style="font-weight: bold;"></p>  
</div>#}

{#
<div id="bookmark-confirmation" style="display: none;" title="{{_('Send to dashboard')}}">
  <p>{{_('Do you want to send this shortcut to the dashboard?')}}</p>
  <p id="sp-shortcut-title" style="font-weight: bold;"></p>
</div>
#}

{#
<div id="share-dialog" style="display: none;" title="{{_('Shortcut sharing')}}">
    <p>{{_('What user do you want to share this shortcut with?')}}</p>
    <p id="sp-shortcut-title" style="font-weight: bold;"></p>
    <select id="users-to-share-with"></select>
</div>
#}

<form id="order-form" action="" method="post" target="_blank">
    <input type="hidden" name="came_from" />
</form>

<div id="exploration_head">
    {% if sc_parent %}
    <a href="{{tg.url('/dashboard/data_exploration', sc_parent=sc_parent)}}">[{{_('up')}}]</a>
    {% else %}
    <div>&nbsp;</div>
    {% endif %}
</div>

<div id="sc_list">
    {% for sc in shortcuts %}
    <div class="sp_shortcut" sc_id="{{sc.id}}" sc_parent="{{sc.parent}}"
        cls="{{sc.cls}}" sc_order="{{sc.order}}"
        style="{% if loop.index % 2 == 0 %}background-color: white;{% endif %}">
        
    {% if sc.action_type %}
        <!-- List -->
        {% if sc.action_type == 'list' %}
        <div class="sp-shortcut-title">
            <a href="{{tg.url('/dashboard/list/%(cls)s'|format(cls=sc.cls), params=dict(came_from=_came_from))}}"
                target="" >{{sc.title|escape}}</a>
        </div>
        
        <!-- {# actions over "list" shortcuts #} -->
        <select class="sp-select-shortcut">
        <option value="">{{_('(Select operation)')}}</option>
        
        {% if h.authorize.in_group('managers') %}
        <!-- {# insertion order #} -->
        <option value="ins-order">{{_('Insertion order')}}</option>

        <!-- {# reference order #} -->
        <option value="ref-order">{{_('Reference order')}}</option>
        </select>
        {% endif %}
        
        <!-- Process -->
        {% elif sc.action_type == 'process' %}
        <div class="sp-shortcut-title">
            <a href="{{tg.url(sc.url, params=dict(cls=sc.cls, came_from=_came_from))}}" 
                target="">{{sc.title|escape}}</a>
        </div>
        
        <div style="clear: right;"></div>
        
        {#<select class="sp-select-shortcut">
        <option value="">{{_('(Select operation)')}}</option>#}

        <!-- Object -->
        {% elif sc.action_type == 'object' %}
        <div class="sp-shortcut-title">
            <a target="_blank" href="{{tg.url(sc.url, params=dict(came_from=_came_from))}}" 
                target="">{{sc.title|escape}}</a>
        </div>
        
        <div style="clear: right;"></div>
        
        {#<select class="sp-select-shortcut">
        <option value="">{{_('(Select operation)')}}</option>#}
        {% else %}
        <div class="sp-shortcut-title">
            <a href="{{tg.url(sc.url)}}">{{sc.title}}</a>
        </div>
        
        <div style="clear: right;"></div>
        
        {#<select class="sp-select-shortcut">
        <option value="">{{_('(Select operation)')}}</option>#}
        {% endif %}
    {% else %}
        <!-- {# This is a group #} -->
        <div class="sp-shortcut-title" style="clear: left;">
            <a href="{{tg.url('/dashboard/data_exploration/', 
                params=dict(sc_parent=sc.id))}}">&lt;{{sc.title}}&gt;</a>
        </div>
        
        <div style="clear: right; height: 25px;">&nbsp;</div>
        
        {#<select class="sp-select-shortcut">
        <option value="">{{_('(Select operation)')}}</option>#}
    {% endif %}
        <!-- {# general actions over shortcuts #} -->
    
        <!-- {# Edit #} -->
        {#<option value="edit" 
            title="{{_('Edit this shortcut')}}">{{_('Edit')}}</option>#}
        
        <!-- {# Delete #} -->
        {#<option value="delete" 
            title="{{_('Remove this shortcut')}}">{{_('Delete')}}</option>#}
    
        <!-- {# To dashboard #} -->
        {#<option value="to-dashboard"
            title="{{_('Put this shortcut on the dashboard')}}">{{_('Send to dashboard')}}</option>#}

        <!-- {# Share #} -->
        {#<option value="share"
            title="{{_('Share this shortcut with another user')}}">{{_('Share')}}</option>#}
            
        <!-- {# Up #} -->
        {#<option value="up"
            title="">{{_('Up')}}</option>#}
            
        <!-- {# Down #} -->
        {#<option value="down"
            title="">{{_('Down')}}</option>#}
        
        {#</select>#}
        
    </div>
    {% endfor %}
</div>

<script type="text/javascript">
    $(document).ready(function() {
    	
    	$('.sp-select-shortcut').change(function() {
    		var opc = $(this).find('option:selected').val();
    		var sc = $(this).parent();
    		if (opc == 'delete') {
    			delete_shortcut(sc);
    		}
    		else if (opc == 'to-dashboard') {
    			sendto_dashboard(sc);
    		}
    		else if (opc == 'share') {
    			share_shortcut(sc);
    		}
    		else if (opc == 'ins-order') {
    			ins_order(sc);
    		}
    		else if (opc == 'ref-order') {
    			ref_order(sc);
    		}
    		else if (opc == 'up' || opc == 'down') {
    			move_shortcut(sc, opc);
    		}
    		
    		$(this).find('option:first').attr('selected', true);
    	});
    	
    	function ins_order(sc) {
    		var cls = sc.attr('cls');
    		$('#order-form').attr('action', "/dashboard/ins_order/" + cls).submit();
    	}
    	
    	function ref_order(sc) {
    		var cls = sc.attr('cls');
    		$('#order-form').attr('action', "/dashboard/ref_order/" + cls).submit();
    	}
        
        // delete 
        function delete_shortcut(sc) {
            var sc_id = sc.attr('sc_id');
            
            var sc_title = sc.find('a').html();
            
            $('#delete-confirmation').find('#sp-shortcut-title').html(sc_title);
            
            $('#delete-confirmation').
            dialog({
                resizable: false,
                height: 200,
                width: 450,
                modal: true,
                buttons: {
                    "{{_('Ok')}}": function() {
                        $.ajax({
                            url: "{{tg.url('/dashboard/sc/delete')}}",
                            type: 'post',
                            dataType: 'json',
                            data: {
                                id_shortcut: sc_id,
                            },
                            success: function(res) {
                                sc.fadeOut();
                                $('#delete-confirmation').dialog('close');
                            },
                            error: function() {
                                alert('Error!');
                                $('#delete-confirmation').dialog('close');
                            }
                        });
                    },
                    "{{_('Cancel')}}": function() {
                        $('#delete-confirmation').dialog('close');
                    }
                }
            });
        }
        
        // {# bookmark #} 
        function sendto_dashboard(sc) {
            var sc_id = sc.attr('sc_id');
            
            var sc_title = sc.find('a').html();            
            $('#bookmark-confirmation').find('#sp-shortcut-title').html(sc_title);
            
            $('#bookmark-confirmation').dialog({
                resizable: false,
                height: 190,
                width: 500,
                modal: true,
                buttons: {
                    "{{_('Ok')}}": function() { 
                        $.ajax({
                            url: "{{tg.url('/dashboard/sc/bookmark')}}",
                            type: 'post',
                            dataType: 'json',
                            data: {
                                id_shortcut: sc_id,
                            },
                            success: function(res) {
                                if (res.status) {
                                    sc.effect('highlight', {color: 'red'}, 400);
                                }
                                else {
                                    alert('Error!');
                                }
                                
                                $('#bookmark-confirmation').dialog('close');
                            },
                            error: function() {
                                alert('Error!');
                                $('#bookmark-confirmation').dialog('close');
                            }
                        });
                    },
                    "{{_('Cancel')}}": function() { 
                        $('#bookmark-confirmation').dialog('close');
                    }
                }
            });
        }
        
        // {# share #} 
        function share_shortcut(sc) {
        	
        	// {# load list of users #} 
            $.ajax({
                url: "{{tg.url('/dashboard/users/all_')}}",
                type: 'get',
                dataType: 'json',
                success: function(res) {
                    var users = res.users;
                    var options = '';
                    for (var i=0; i<users.length; i++) {
                        options += '<option value="' + users[i].id +'">' + 
                            users[i].display_name + ' [' + users[i].user_name + ']</option>';
                    }
                    
                    $('#users-to-share-with').html(options);
                    
                    // {# "#share-dialog" should be loaded here 
                    // but this way works well also #}  
                },
                error: function() {
                    alert('Error!');
                }
            });        	
        	
            var sc_id = sc.attr('sc_id');
            var sc_title = sc.find('a').html();
            
            $('#share-dialog > #sp-shortcut-title').html(sc_title);
        
            $('#share-dialog').dialog({
                resizable: false,
                height: 230,
                width: 450,
                modal: true,
                buttons: {
                    "{{_('Ok')}}": function() {
                    	
                    	var user_id = $('#users-to-share-with').val();
                    	
                        $.ajax({
                            url: "{{tg.url('/dashboard/sc/share')}}",
                            type: 'post',
                            dataType: 'json',
                            data: {
                                id_sc: sc_id,
                                id_user: user_id
                            },
                            success: function(res) {
                                if (res.status) {
                                    sc.effect('highlight', {color: 'red'}, 400);
                                }
                                else {
                                    alert('Error!');
                                }
                                
                                $('#users-to-share-with option:first').attr('selected', true);
                                $('#share-dialog').dialog('close');
                            },
                            error: function() {
                                alert('Error!');
                                $('#users-to-share-with option:first').attr('selected', true);
                                $('#share-dialog').dialog('close');
                            }
                        });
                    },
                    "{{_('Cancel')}}": function() {
                    	$('#users-to-share-with').find('option:first').attr('selected', true);
                        $('#share-dialog').dialog('close');
                    }
                }
            });
        }
        
        function reorder_sc(sc_id, type) {
        	var other;
        	var shortcuts = {};
        	var n;
        	$('#sc-container').find('.sp_shortcut').each(function(index) {
        		shortcuts[index] = $(this);
        		$(this).remove();
        		n = index;
        	});
        	
        	for (var index=0; index<=n; index++) {
        		console.log(index);
        		var self = shortcuts[index];
        		if (self != null) {
            		if (self.attr('sc_id') == sc_id) {
            			console.log(type);
            			if (type == 'up') {
            				other = shortcuts[index-1];
            				//shortcuts[index-1] = null; 
            				other.remove();
            				$('#sc-container').append(self);
                            $('#sc-container').append(other);
            			}
            			else {
            				// down 
            				other = shortcuts[index+1];
            				shortcuts[index+1] = null;
            				$('#sc-container').append(other);
            				$('#sc-container').append(self);
            			}
            		}
            		else {
            			$('#sc-container').append(self);
            		}
        		}
        	} 
        }
        
        function move_shortcut(sc, type) {
        	window.location = document.URL;
        	/*var sc_id = sc.attr('sc_id');
        	$.ajax({
        		url: "{{tg.url('/dashboard/sc/reorder/')}}",
        		type: "get",
        		dataType: "json",
        		data: {
        			id_sc: sc_id,
        			type: type
        		},
        		success: function(data) {
        			if (data.status) {
        				// TODO: reorder list of shortcuts 
        				reorder_sc(sc_id, type);
        			}
        			else {
        				alert('error!');
        			}
        		},        		
        	});*/
        }
    });
</script>
{% endblock %}