{% extends 'sapns/base.html' %}
{% import 'sapns/dashboard/util.html' as util %}

{% block head %}
    {{ super() }}
    {{ util.jquery() }}
    {{ util.jquery_ui() }}
    {{ util.jquery_jstree() }}
    <style>
        .caja3d { border:1px solid #999; border-bottom:2px solid #777; 
        border-right:2px solid #777; border-radius:3px }
        #sc_list { height:565px; overflow:auto }
        #sp-exploration-head { height:20px; padding-left:25px; padding-top:2px;
        background-color:white; border-radius:3px; margin:4px 10px }
        #sp-exploration-head * { float:left }
        #sp-exploration-head button { font-size:9px }
        
        .sp-shortcut-up { font-weight:normal; width:90% }
        #sp-shortcut-list { margin:0 10px 10px 10px; padding:5px; background-color:#fff; 
        height:540px; overflow:auto }
        .on-dragging { height:415px !important }
        a.sp-shortcut { font-weight:normal; color:#444; border-radius:3px; 
        width:101px; height:50px; margin:5px; padding:2px; text-align:center;
        vertical-align:middle; float:left; font-size:13px; word-wrap:break-word; padding-top:25px }
        a.sp-shortcut.group { background-color:#979e32; color:#fff }
        a.sp-shortcut.list { background-color:#B4BD3C }
        a.sp-shortcut.process { background-color:#FFB835 }
        .sp_sidebar.activo { border:2px solid red }
    </style>
{% endblock %}

{% block middle %}
<!-- {# dialogs (now ain't visible) #} -->
<div id="delete-confirmation" style="display:none" title="{{_('Delete shortcut')}}">
  <p>{{_('Do you want to delete this shortcut?')}}</p>
  <p id="sp-shortcut-title" style="font-weight: bold;"></p>  
</div>

<!--{#
<div id="bookmark-confirmation" style="display: none;" title="{{_('Send to dashboard')}}">
  <p>{{_('Do you want to send this shortcut to the dashboard?')}}</p>
  <p id="sp-shortcut-title" style="font-weight: bold;"></p>
</div>
#}-->

<!--{#
<div id="share-dialog" style="display: none;" title="{{_('Shortcut sharing')}}">
    <p>{{_('What user do you want to share this shortcut with?')}}</p>
    <p id="sp-shortcut-title" style="font-weight: bold;"></p>
    <select id="users-to-share-with"></select>
</div>
#}-->

<form id="order-form" action="" method="post" target="_blank">
    <input type="hidden" name="came_from" />
</form>

<div id="sp-exploration-head" class="caja3d">
    <!--{% if sc_parent %}-->
    <a class="sp-shortcut-up" href="{{tg.url('/dashboard/data_exploration', sc_parent=sc_parent)}}">[{{_('up')}}]</a>
    <!--{% else %}-->
    <div class="sp-shortcut-up">&nbsp;</div>
    <!--{% endif %}-->
    <div><button>New</button></div>
</div>

<div id="sp-shortcut-list" class="caja3d">
    <!--{% for sc in shortcuts %}-->
    <!--{% if sc.action_type == '' %}-->
    <a class="sp-shortcut caja3d group" href="{{tg.url('/dashboard/data_exploration/', params=dict(sc_parent=sc.id))}}"
        shortcut_id="{{sc.id}}" action_type="{{sc.action_type}}" title="{{sc.title}}">{{sc.title}}</a>
    <!--{% elif sc.action_type == 'list' %}-->
    <a class="sp-shortcut caja3d list" href="{{tg.url('/dashboard/list/%(cls)s'|format(cls=sc.cls), params=dict(came_from=_came_from))}}"
        shortcut_id="{{sc.id}}" action_type="{{sc.action_type}}" cls="{{sc.cls}}" title="{{sc.title}}">{{sc.title|escape}}</a>
    <!--{% elif sc.action_type == 'process' %}-->
    <a class="sp-shortcut caja3d process" href="{{tg.url(sc.url)}}"
        shortcut_id="{{sc.id}}" action_type="{{sc.action_type}}" title="{{sc.title}}">{{sc.title|escape}}</a>
    <!--{% endif %}-->
    <!--{% endfor %}-->
</div>

<style>
#sp-shortcut-options { height:100px; margin:0 10px 10px 10px; padding:5px; background-color:#fff }
#sp-shortcut-options .option { float:left }
#sp-shortcut-options div.option { font-weight:normal; width:100px; height:80px; 
background-color:#ddd; margin:10px 50px 0 0; text-align:center; word-wrap:break-word }
#sp-shortcut-options .option.users { margin-left:50px }
#sp-shortcut-options .option.accept { border-color:#FFB835 }

</style>

<div id="sp-shortcut-options" class="caja3d" style="display:none">
    <div class="option users caja3d">Users</div>
    <div class="option roles caja3d">Roles</div>
    <div class="option delete caja3d">Delete</div>
</div>

<script type="text/javascript">
    $(function() {
        
        $('.sp-shortcut').draggable({
            helper: 'clone',
            start: function() {
                $('#sp-shortcut-list').addClass('on-dragging');
                $('#sp-shortcut-options').slideDown();
            },
            stop: function() {
                $('#sp-shortcut-options').slideUp(function() {
                    $('#sp-shortcut-list').removeClass('on-dragging');
                });
            }
        });
        
        $('.sp_sidebar').droppable({
            accept: '.sp-shortcut[action_type=list]',
            hoverClass: 'activo',
            drop: function(e, ui) {
                $.ajax({
                    url: "{{tg.url('/dashboard/sc/bookmark/')}}",
                    data: { id_shortcut: ui.draggable.attr('shortcut_id') },
                    success: function(res) {
                        if (res) {
                            
                            var new_shortcut = '<div class="item_sb item_sb_sortable" shortcut_id="' + res.shortcut.id + '">\
                                <a href="' + res.shortcut.url + '">\
                                <span class="text_sb" title="' + res.shortcut.title + '">' + res.shortcut.title + '</span>\
                                </a></div>' 
                            
                            $('.sp_sidebar').append(new_shortcut);
                        }
                    },
                    error: function() {
                    }
                });
            }
        });
        
        $('#sp-shortcut-options .users').droppable({
            accept: '.sp-shortcut',
            hoverClass: 'accept',
            drop: function(e, ui) {
                var action_type = ui.draggable.attr('action_type');
                var cls;
                if (action_type === 'list') {
                    console.log(action_type + ' ' + cls);
                }
                else {
                    console.log(action_type);
                }
            }
        });
        
        $('#sp-shortcut-options .roles').droppable({
            accept: '.sp-shortcut',
            hoverClass: 'accept',
            drop: function(e, ui) {
                var action_type = ui.draggable.attr('action_type');
                var cls;
                if (action_type === 'list') {
                    console.log(action_type + ' ' + cls);
                }
                else {
                    console.log(action_type);
                }
            }
        });
        
        $('#sp-shortcut-options .delete').droppable({
            accept: '.sp-shortcut',
            hoverClass: 'accept',
            drop: function(e, ui) {
                var shortcut_id = ui.draggable.attr('shortcut_id');
                var action_type = ui.draggable.attr('action_type');
                var cls = ui.draggable.attr('cls');
                
                $('#delete-confirmation').dialog({
                    modal: true,
                    resizable: false,
                    width: 450,
                    buttons: {
                        "{{_('Ok')}}": function() {
                            $.ajax({
                                url: "{{tg.url('/dashboard/sc/delete/')}}",
                                data: { id_shortcut: shortcut_id },
                                success: function(res) {
                                    if (res.status) {
                                        $('#delete-confirmation').dialog('close');
                                        ui.draggable.fadeOut();
                                    }
                                },
                                error: function() {
                                    alert('Error!');
                                    $('#delete-confirmation').dialog('close');
                                }
                            });
                        },
                        "{{_('Cancel')}}": function() {
                            $('#delete-confirmation').dialog('close');
                        }
                    }
                });
            }
        });
    	
    	$('.sp-select-shortcut').change(function() {
    		var opc = $(this).find('option:selected').val();
    		var sc = $(this).parent();
    		if (opc == 'delete') {
    			delete_shortcut(sc);
    		}
    		else if (opc == 'to-dashboard') {
    			sendto_dashboard(sc);
    		}
    		else if (opc == 'share') {
    			share_shortcut(sc);
    		}
    		else if (opc == 'ins-order') {
    			ins_order(sc);
    		}
    		else if (opc == 'ref-order') {
    			ref_order(sc);
    		}
    		else if (opc == 'up' || opc == 'down') {
    			move_shortcut(sc, opc);
    		}
    		
    		$(this).find('option:first').attr('selected', true);
    	});
    	
    	function ins_order(sc) {
    		var cls = sc.attr('cls');
    		$('#order-form').attr('action', "/dashboard/ins_order/" + cls).submit();
    	}
    	
    	function ref_order(sc) {
    		var cls = sc.attr('cls');
    		$('#order-form').attr('action', "/dashboard/ref_order/" + cls).submit();
    	}
        
        // {# share #} 
        function share_shortcut(sc) {
        	
        	// {# load list of users #} 
            $.ajax({
                url: "{{tg.url('/dashboard/users/all_')}}",
                type: 'get',
                dataType: 'json',
                success: function(res) {
                    var users = res.users;
                    var options = '';
                    for (var i=0; i<users.length; i++) {
                        options += '<option value="' + users[i].id +'">' + 
                            users[i].display_name + ' [' + users[i].user_name + ']</option>';
                    }
                    
                    $('#users-to-share-with').html(options);
                    
                    // {# "#share-dialog" should be loaded here 
                    // but this way works well also #}  
                },
                error: function() {
                    alert('Error!');
                }
            });        	
        	
            var sc_id = sc.attr('sc_id');
            var sc_title = sc.find('a').html();
            
            $('#share-dialog > #sp-shortcut-title').html(sc_title);
        
            $('#share-dialog').dialog({
                resizable: false,
                height: 230,
                width: 450,
                modal: true,
                buttons: {
                    "{{_('Ok')}}": function() {
                    	
                    	var user_id = $('#users-to-share-with').val();
                    	
                        $.ajax({
                            url: "{{tg.url('/dashboard/sc/share')}}",
                            type: 'post',
                            dataType: 'json',
                            data: {
                                id_sc: sc_id,
                                id_user: user_id
                            },
                            success: function(res) {
                                if (res.status) {
                                    sc.effect('highlight', {color: 'red'}, 400);
                                }
                                else {
                                    alert('Error!');
                                }
                                
                                $('#users-to-share-with option:first').attr('selected', true);
                                $('#share-dialog').dialog('close');
                            },
                            error: function() {
                                alert('Error!');
                                $('#users-to-share-with option:first').attr('selected', true);
                                $('#share-dialog').dialog('close');
                            }
                        });
                    },
                    "{{_('Cancel')}}": function() {
                    	$('#users-to-share-with').find('option:first').attr('selected', true);
                        $('#share-dialog').dialog('close');
                    }
                }
            });
        }
    });
</script>
{% endblock %}