<div class="export-title">{{_('Visible columns')}}</div>
<div class="export-labels">
    <!--{% set i = 0 %}-->
    <!--{% for lbl in ds.labels %}-->
        <div class="export-label {% if lbl != 'id' %} selected {% else %} unselected {% endif %}" 
            column-name="{{ds.cols[i]}}">{{lbl}}</div>
        <!--{% set i = i + 1 %}-->
    <!--{% endfor %}-->
</div>

<div class="export-separator">&nbsp;</div>

<div class="export-title">{{_('Group by')}}</div>
<div class="export-groups">
    <!--{% set i = 0 %}-->
    <!--{% for lbl in ds.labels %}-->
        <!--{% if lbl != 'id' %}-->
        <div class="export-group unselected" column-name="{{ds.cols[i]}}"
            title="{{_('Double-click to select/unselect')}}">{{lbl}}</div>
        <!--{% endif %}-->
        <!--{% set i = i + 1 %}-->
    <!--{% endfor %}-->
</div>

<div class="export-separator">&nbsp;</div>

<!--{% set show_totals = False %}-->
<!--{% for type_ in ds.types %}-->
    <!--{% if type_ == 'int' or type_ == 'float' %}-->
        <!--{% set show_totals = True %}-->
    <!--{% endif %}-->
<!--{% endfor %}-->

<div class="export-title {% if not show_totals %} disabled {% endif %}">{{_('Totals')}}</div>
<div class="export-totals">
    <!--{% set i = 0 %}-->
    <!--{% for lbl in ds.labels %}-->
        <!--{% if lbl != 'id' and ds.types[i] == 'int' or ds.types[i] == 'long' or ds.types[i] == 'float' %}-->
        <div class="export-total unselected" column-name="{{ds.cols[i]}}"
            title="{{_('Double-click to select/unselect')}}">{{lbl}}</div>
        <!--{% endif %}-->
        <!--{% set i = i + 1 %}-->
    <!--{% endfor %}-->
</div>

<script>

function to_xls(callback, callback_error) {

    var visible_columns = [];
    $('.export-label.selected').each(function() {
        var column_name = $(this).attr('column-name');
        visible_columns.push(column_name);
    });

    //var orientation = $('.export-orientation:checked').attr('orientation');

    var group_by = [];
    $('.export-group.selected').each(function() {
        var column_name = $(this).attr('column-name');
        group_by.push(column_name);
    });

    var totals = [];
    $('.export-total.selected').each(function() {
        var column_name = $(this).attr('column-name');
        totals.push(column_name);
    });

    // /dashboard/topdf -> /dashboard/topdf_
    var form_export = '<form action="{{tg.url("/dashboard/to_xls_/")}}" method="post" target="">' +
        '<input type="hidden" name="cls" value="{{data.cls}}">' +
        '<input type="hidden" name="q" value="{{data.query}}">' + 
        '<input type="hidden" name="ch_attr" value="{{data.ch_attr}}">' +
        '<input type="hidden" name="parent_id" value="{{data.parent_id}}">' +
        '<input type="hidden" name="visible_columns" value=\'' + JSON.stringify(visible_columns) + '\'>' +
        '<input type="hidden" name="group_by" value=\'' + JSON.stringify(group_by) + '\'>' +
        '<input type="hidden" name="totals" value=\'' + JSON.stringify(totals) + '\'>' +
        '</form>';

    $(form_export).appendTo('body').submit().remove();
    callback();
}

$(function() {
    $('.export-labels').sortable({
        placeholder: 'export-label-ph',
        stop: function(e, ui) {
        }
    });

    $('.export-label, .export-group, .export-total').dblclick(function() {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected').addClass('unselected');
            if ($(this).hasClass('export-label')) {
                var column_name = $(this).attr('column-name');
                $('.export-group[column-name=' + column_name + ']').removeClass('selected').addClass('unselected');
            }
        }
        else {
            $(this).addClass('selected').removeClass('unselected');
        }
    });

    $('.export-label, .export-group, .export-total').disableSelection();

    $('.export-orientation').click(function() {
        var orientation = $(this).attr('orientation');
        $('.export-orientation').prop('checked', false);
        $('.export-orientation[orientation=' + orientation + ']').prop('checked', true);
    });

    $('.export-format').click(function() {
        var format = $(this).attr('format');
        $('.export-format').prop('checked', false);
        $('.export-format[format=' + format + ']').prop('checked', true);
    });
});
</script>
