<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
{% import 'sapns/dashboard/util.html' as u %}

{{ u.jquery() }}
{{ u.jquery_ui() }}
{#{{ u.qtip2() }}#}
<link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/style.css')}}">
<script type="text/javascript">
    {% include 'sapns/components/sapns.grid/sapns.grid.js' %}
</script>

</head>
<body>
    <div id="g"></div>
    <script type="text/javascript">
        $(document).ready(function() {
            
            $('#g').sapnsGrid({
                cls: 'alumnos',
                //caption: 'Grid test', 
                caption: function() {
                    return 'Grid test (func)';
                },
                q: '',
                rp: 10,
                //height: 700,
                //with_search: false,
                actions_inline: true,
                search_params_: {
                    data: {
                        filters: JSON.stringify([['id', 7183]])
                    }
                },
                search_params_: {
                    url: "{{tg.url('/dashboard/test_search/')}}",
                    data: { cls: 'alumnos' }
                },
                /*search_func: function(q, rp, pos) {
                    //console.log([q, rp, pos].join(', ')); 
                    return [[1, 1.1, 2.2, 3.3],
                            [2],
                            [222, 111, 211, 311, 411, 511, 611],
                            [33, 11, null, 33]
                           ];
                },*/
                //default_: { col_width: 10, col_align: 'left' },
                cols_: [{title: 'id', width: 30}, 
                       {title: 'Úno', align: 'right', width: 100}, 
                       {title: 'đæßß', width: 300}, 
                       {title: 'trEs', align: 'left'},
                       {title: 'CUATRO'}
                       ],
                actions_: {},
                actions__: [{title: 'act1', url: '/act1', type: 'process', require_id: true},
                          {title: 'act2', url: '/act2', type: 'process'},
                          {title: 'act3', url: '/act3', type: 'process'}
                          ],
                actions: function() {
                    //console.log(this.cls);
                    return [{title: 'New', url: '/act1', type: 'new', required_id: false},
                            {title: 'Edit', url: '/act2', type: 'edit'},
                            {title: 'Delete', url: '/act3', type: 'delete'},
                            {title: 'ACT4_F',
                             type: {
                                 id:'act4_f', 
                                 f: function(id) {
                                     alert('act4_f: id=' + id);
                                 }
                             },
                             require_id: true
                            },
                            {title: 'act5_f',
                             type: {
                                 id:'act5_f',                                    
                                 f: function(id) {
                                     alert('act5_f: byyyyyye! ' + id);
                                 }
                             },
                             require_id: false
                            }
                           ]
                },
                exportable: true
            });
        }); //.sapnsGrid('search');
        
        //$('#g').sapnsGrid('search');
    </script>
</body>
</html>