{% extends 'sapns/base.html' %}
{% import 'sapns/dashboard/util.html' as util %}

{% block head %}
    {{ super() }}
    {{ util.jquery() }}
    {{ util.jquery_ui() }}
    <script type="text/javascript">
        {% include 'sapns/components/sapns.selector.js' %}
        
        $(document).ready(function() {
            $('#selector-alumno').sapnsSelector({
                //name: 'classes',
                value: 1,
                title: 'Class',
                rc: 'sp_classes',
                rc_title: function() {
                    // this = sapnsSelector 
                    return 'Esto es una prueba con "' + this.name + '"';
                    //return new Date().toString();
                },
                dialog: {results: 3, height: 380},
                //search_url: "",
                //search_params: {fecha: obtener_fecha, id_grupo: 100}
                // ,read_only: true 
            });
            
            $('#selector-profesor').sapnsSelector({
                //name: 'profesor',
                value: 40,
                title: 'Attribute',
                rc: 'sp_attributes',
                rc_title: 'Attributes',
                search_params: {
                    //cls: 'sp_classes'
                    q: 'perm'
                }
                /*
                search_params: function() {
                    var self = this;
                    self.cls = 'sp_classes';
                    self.q = 'perm';
                }
                */
            });
        });
    </script>
{% endblock %}

{% block middle %}

    <label>Alumno</label>
    <div id="selector-alumno"></div>
    
    <label>Profesor</label>
    <div id="selector-profesor"></div>
{% endblock %}