{% extends 'sapns/base.html' %}
{% import 'sapns/dashboard/util.html' as util %}

{% block head %}
    {{ super() }}
    {{ util.jquery() }}
    {{ util.jquery_ui() }}
    <script type="text/javascript">
        {% include 'sapns/components/sapns.selector.js' %}
        
        $(document).ready(function() {
            $('#selector-alumno').sapnsSelector({
                name: 'alumno',
                value: 1166,
                title: 'Alumno',
                rc: 'alumnos',
                rc_title: 'Alumnos',
                dialog: {results: 3, height: 380},
                search_url: "",
                search_params: {fecha: obtener_fecha, id_grupo: 100}
                // ,read_only: true 
            });
            
            $('#selector-profesor').sapnsSelector({
                name: 'profesor',
                value: 40,
                title: 'Profesor',
                rc: 'personal',
                rc_title: 'Personal'
            });
        });
    </script>
{% endblock %}

{% block middle %}

    <label>Alumno</label>
    <div id="selector-alumno"></div>
    
    <label>Profesor</label>
    <div id="selector-profesor"></div>
{% endblock %}