<ul>
    {% for sc in shortcuts %}
    <li>
    {% if sc.action_type %}
        {% if sc.action_type == 'list' %}
            <div style="{% if loop.index % 2 == 0 %}background-color: white;{%endif%}">
            <div style="width: 400px; float: left; margin-top: 5px; padding-left: 20px;">
            <a href="{{tg.url('/list', cls=sc.cls, came_from='/?sc_parent=%d' % sc.parent)}}">
                {{sc.title}}</a>
            </div>
            
            <!-- actions over shortcuts -->
            <div style="float: left;">
            <form method="post" action="">
                <input class="sp_button" title="{{'%s on %s'|format(_('One'), sc.title)}}" type="submit" value="{{_('One')}}"/>
            </form>
            </div>
            
            <div style="float: left;">
            <form method="post" action="">
                <input class="sp_button" title="{{'%s on %s'|format(_('Two'), sc.title)}}" type="submit" value="{{_('Two')}}"/>
            </form>
            </div>
            
            <div>
            <form method="post" action="">
                <input class="sp_button" title="{{'%s on %s'|format(_('Three'), sc.title)}}" type="submit" value="{{_('Three')}}"/>
            </form>
            </div>
            </div>
        {% else %}
            <a href="{{tg.url(sc.url)}}">{{sc.title}}</a>
        {% endif %}
    {% else %}
        {# This is a group #}
        <a href="{{tg.url('/', sc_parent=sc.id)}}">{{sc.title}}</a>
    {% endif %}
    </li>
    {% endfor %}
</ul>