<ul>
    {% for sc in shortcuts %}
    <li>
    {% if sc.action_type %}
        {% if sc.action_type == 'list' %}
            <div style="{% if loop.index % 2 == 0 %}background-color: white;{%endif%}
                height: 24px;">
                
            <div style="width: 400px; float: left;
                margin-top: 2px;
                padding-left: 20px;">
            <a href="{{tg.url('/list', cls=sc.cls, came_from='/?sc_parent=%d' % sc.parent)}}">
                {{sc.title}}</a>
            </div>
            
            <!-- actions over shortcuts -->
            
            <!-- insertion order -->
            <div style="float: left; border: 1px solid #B4BD3C;
                padding-left: 2px; padding-right: 2px;
                margin-top: 2px;
                margin-left: 5px; margin-right: 5px;">
            
            <a href="{{tg.url('/ins_order', cls=sc.cls, came_from='/?sc_parent=%d' % sc.parent)}}">
                {{_('Insertion order')}}
            </a>
            </div>
            
            <!-- reference order -->
            <div style="border: 1px solid #B4BD3C;
                float: left;
                padding-left: 2px; padding-right: 2px;
                margin-top: 2px;
                margin-left: 5px; margin-right: 5px;">
            
            <a href="{{tg.url('/ref_order', cls=sc.cls, came_from='/?sc_parent=%d' % sc.parent)}}">
                {{_('Reference order')}}
            </a>
            </div>
            
            </div>
        {% else %}
            <a href="{{tg.url(sc.url)}}">{{sc.title}}</a>
        {% endif %}
    {% else %}
        {# This is a group #}
        <a href="{{tg.url('/', sc_parent=sc.id)}}">{{sc.title}}</a>
    {% endif %}
    </li>
    {% endfor %}
</ul>