{# <!-- dialogs (now ain't visible) --> #}
<div id="delete-confirmation" style="display: none;" title="{{_('Delete shortcut')}}">
  <p>{{_('Do you want to delete this shortcut?')}}</p>
  <p id="sp-shortcut-title" style="font-weight: bold;"></p>  
</div>

<div id="bookmark-confirmation" style="display: none;" title="{{_('Send to dashboard')}}">
  <p>{{_('Do you want to send this shortcut to the dashboard?')}}</p>
  <p id="sp-shortcut-title" style="font-weight: bold;"></p>
</div>

<div id="share-dialog" style="display: none;" title="{{_('Shortcut sharing')}}">
    <p>{{_('What user do you want to share this shortcut with?')}}</p>
    <p id="sp-shortcut-title" style="font-weight: bold;"></p>
    <select id="users-to-share-with"></select>
</div>

<div>
    {% for sc in shortcuts %}
    <div class="sp_shortcut" sc_id="{{sc.id}}" sc_parent="{{sc.parent}}"
        style="{% if loop.index % 2 == 0 %}background-color: white;{%endif%}">
        
        {#
        <!--
        <div style="float: left;">
            <input type="checkbox"/>
        </div>
        -->
        #}
        
    {% if sc.action_type %}
        {% if sc.action_type == 'list' %}
        <div class="sp-shortcut-title">
            <a href="{{tg.url('/list', cls=sc.cls, came_from='/?sc_parent=%d' % sc.parent)}}">
                {{sc.title}}</a>
        </div>
        
        {# <!-- actions over "list" shortcuts --> #}
        
        {# <!-- insertion order --> #}
        <div class="sp-shortcut-ins-order">
            <a href="{{tg.url('/ins_order', cls=sc.cls, came_from='/?sc_parent=%d' % sc.parent)}}">
                {{_('Insertion order')}}
            </a>
        </div>
        
        {# <!-- reference order --> #}
        <div class="sp-shortcut-ref-order">
            <a href="{{tg.url('/ref_order', cls=sc.cls, came_from='/?sc_parent=%d' % sc.parent)}}">
                {{_('Reference order')}}
            </a>
        </div>
        {% else %}
        <div class="sp-shortcut-title">
            <a href="{{tg.url(sc.url)}}">{{sc.title}}</a>
        </div>
        {% endif %}
    {% else %}
        {# <!-- This is a group --> #}
        <div class="sp-shortcut-title">
            <a href="{{tg.url('/', sc_parent=sc.id)}}">&lt;{{sc.title}}&gt;</a>
        </div>
        
        <div class="sp-shortcut-ins-order" style="color: gray;">*</div>
        <div class="sp-shortcut-ref-order" style="color: gray;">*</div>
    {% endif %}
        {# <!-- general actions over shortcuts --> #}
    
        {# <!-- Edit --> #}
        <div style="float: left;">
            <form method="post" action="/sc/edit">
            <input type="hidden" name="id" value="{{sc.id}}"/>
            <input type="hidden" name="came_from" value="{{'/?sc_parent=%d' % sc.parent}}"/>
            <input class="sp-button" style="width: 50px; float: left;"
                title="{{_('Edit this shortcut')}}" 
                type="submit" value="{{_('Edit')}}"/>
            </form>
        </div>
        
        {# <!-- Delete --> #}
        <div style="float: left;">
            <input class="sp-button sc_delete_button" 
                style="width: 50px; float: left;"
                title="{{_('Remove this shortcut')}}" 
                type="button" value="{{_('Delete')}}"/>
        </div>
    
        {# <!-- To dashboard --> #}
        <div style="float: left;">
            <input class="sp-button sc_bookmark_button" 
                style="width: 110px;"
                title="{{_('Put this shortcut on the dashboard')}}"
                type="button" value="{{_('Send to dashboard')}}"/>
        </div>

        {# <!-- Share --> #}        
        <div>
            <input class="sp-button sc_share_button" 
                style="width: 65px;"
                title=""
                type="button" value="{{_('Share')}}"/>
        </div>
        
    </div>
    {% endfor %}
</div>

<script type="text/javascript">
    $(document).ready(function() {
        
        // delete
        $('.sc_delete_button').click(function() {
            var sc = $(this).parent().parent();
            var sc_id = sc.attr('sc_id');
            
            var sc_title = sc.find('a').html();
            
            $('#delete-confirmation').find('#sp-shortcut-title').html(sc_title);
            
            $('#delete-confirmation').
            dialog({
                resizable: false,
                height: 200,
                width: 450,
                modal: true,
                buttons: {
                    "{{_('Ok')}}": function() {
                        $.ajax({
                            url: "{{tg.url('/sc/delete')}}",
                            type: 'post',
                            dataType: 'json',
                            data: {
                                id: sc_id,
                            },
                            success: function(res) {
                                sc.fadeOut();
                                $('#delete-confirmation').dialog('close');
                            },
                            error: function() {
                                alert('Error!');
                                $('#delete-confirmation').dialog('close');
                            }
                        });
                    },
                    "{{_('Cancel')}}": function() {
                        $('#delete-confirmation').dialog('close');
                    }
                }
            });
        });
        
        // {# bookmark #} 
        $('.sc_bookmark_button').click(function() {
            var sc = $(this).parent().parent();
            var sc_id = sc.attr('sc_id');
            
            var sc_title = sc.find('a').html();            
            $('#bookmark-confirmation').find('#sp-shortcut-title').html(sc_title);
            
            $('#bookmark-confirmation').dialog({
                resizable: false,
                height: 190,
                width: 500,
                modal: true,
                buttons: {
                    "{{_('Ok')}}": function() { 
                        $.ajax({
                            url: "{{tg.url('/sc/bookmark')}}",
                            type: 'post',
                            dataType: 'json',
                            data: {
                                id: sc_id,
                            },
                            success: function(res) {
                                if (res.status) {
                                    sc.effect('highlight', {color: 'red'}, 400);
                                }
                                else {
                                    alert('Error!');
                                }
                                
                                $('#bookmark-confirmation').dialog('close');
                            },
                            error: function() {
                                alert('Error!');
                                $('#bookmark-confirmation').dialog('close');
                            }
                        });
                    },
                    "{{_('Cancel')}}": function() { 
                        $('#bookmark-confirmation').dialog('close');
                    }
                }
            });
        });
        
        // {# share #} 
        $('.sc_share_button').click(function() {
        	
        	// {# load list of users #} 
            $.ajax({
                url: "{{tg.url('/users/all')}}",
                type: 'get',
                dataType: 'json',
                success: function(res) {
                    var users = res.users;
                    var options = '';
                    for (var i=0; i<users.length; i++) {
                        options += '<option value="' + users[i].id +'">' + 
                            users[i].display_name + ' [' + users[i].user_name + ']</option>';
                    }
                    
                    $('#users-to-share-with').html(options);
                    
                    // {# "#share-dialog" should be loaded here 
                    // but this way works well also #}  
                },
                error: function() {
                    alert('Error!');
                }
            });        	
        	
            var sc = $(this).parent().parent();
            var sc_id = sc.attr('sc_id');
            var sc_title = sc.find('a').html();
            
            $('#share-dialog > #sp-shortcut-title').html(sc_title);
        
            $('#share-dialog').dialog({
                resizable: false,
                height: 230,
                width: 450,
                modal: true,
                buttons: {
                    "{{_('Ok')}}": function() {
                    	
                    	var user_id = $('#users-to-share-with').find('option:selected').val();
                    	
                        $.ajax({
                            url: "{{tg.url('/sc/share')}}",
                            type: 'post',
                            dataType: 'json',
                            data: {
                                id_sc: sc_id,
                                id_user: user_id
                            },
                            success: function(res) {
                                if (res.status) {
                                    sc.effect('highlight', {color: 'red'}, 400);
                                }
                                else {
                                    alert('Error!');
                                }
                                
                                $('#users-to-share-with').find('option:first').attr('selected', true);
                                $('#share-dialog').dialog('close');
                            },
                            error: function() {
                                alert('Error!');
                                $('#users-to-share-with').find('option:first').attr('selected', true);
                                $('#share-dialog').dialog('close');
                            }
                        });
                    },
                    "{{_('Cancel')}}": function() {
                    	$('#users-to-share-with').find('option:first').attr('selected', true);
                        $('#share-dialog').dialog('close');
                    }
                }
            });
        });
    });
</script>