{% extends 'sapns/base.html' %}
{% import 'sapns/dashboard/util.html' as util %}

{% block head %}
    {{ super() }}
    {{ util.jquery() }}
    {{ util.jquery_ui() }}
    <style type="text/css">
        #edit-user {
            padding: 20px;
        }
        
        .sp-label-field {
            font-size: 14px;
            font-weight: bold;
        }
        
        .edit-user-field {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block middle %}
<div id="user-dialog"></div>
<input type="hidden" name="id" value="{{user.user_id}}">
<input type="hidden" name="came_from" value="{{came_from or ''}}">
<div id="edit-user">
    <div class="edit-user-field">
        <div class="sp-label-field">{{_('Display name')}}</div>
        <input class="sp-text-field" type="text" style="width: 50%;" 
            id="display_name" value="{{user.display_name}}">
    </div>
    
    <div class="edit-user-field">
        <div class="sp-label-field">{{_('User name')}}</div>
        <input class="sp-text-field" type="text" style="width: 50%;"
            regex="^[\w\-\.@]{4,50}$" _ok="1" 
            id="user_name" value="{{user.user_name}}">
    </div>

    <div class="edit-user-field">
        <div class="sp-label-field">{{_('E-mail address')}}</div>
        <input class="sp-text-field" type="text" style="width: 50%;" 
            id="email_address" value="{{user.email_address}}"
            regex="^[\w\-\.]+@[\w\-\.]+$" _ok="1">
    </div>
    
    <div class="edit-user-field">
        <div class="sp-label-field">{{_('Password')}}</div>
        <input id="password" class="sp-text-field" type="password"
            regex="^[\w\-\.@]{4,}$" _ok="1" value="">
    </div>
    
    <div class="edit-user-field">
        <div class="sp-label-field">{{_('Re-type password')}}</div>
        <input id="password2" class="sp-text-field" type="password" 
            value="">
    </div>
    
    {% if not user.user_id %}
    <div>
        <div class="sp-label-field">{{_('Copy from')}}</div>
        <select id="copy_from"></select>
    </div>
    {% endif %}
    
    <div>
        <button id="save_user_btn">{{_('Save')}}</button>
    </div>
</div>
<form id="form_exit" method="post" 
    action="{% if came_from %}{{came_from}}
            {%else%}{{tg.url('/message', dict(message=_('Update was completed successfully'), came_from=''))}}{%endif%}">
</form>

<script type="text/javascript" src="{{tg.url('/js/fields.min.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        
        $('.sp-text-field:first').focus();
        
        $('#user_name').change(function() {
            fields.check_regex($(this));
        });
        
        $('#email_address').change(function() {
            fields.check_regex($(this));
        });
        
        $('#password').change(function() {
            fields.check_regex($(this));
        });
        
        $('#save_user_btn').click(function() {
            
            var _ok;
            
            // display_name 
            var display_name = $('#display_name').val();
            //var _ok = $('#display_name').attr('_ok');
            if (!display_name) {
                alert('{{_("\"Display name\" is required")}}');
                $('#display_name').focus();
                return;
            }
            
            // user_name 
            var user_name = $('#user_name').val();
            _ok = $('#user_name').attr('_ok');
            if (!user_name || !_ok) {
                alert('{{_("\"User name\" is required")}}');
                $('#user_name').focus();
                return;
            }
            
            // email_address 
            var email_address = $('#email_address').val();
            _ok = $('#email_address').attr('_ok');
            if (!email_address || !_ok) {
                alert('{{_("\"E-mail address\" is required")}}');
                $('#email_address').focus();
                return;
            }
            
            // password 
            var password = $('#password').val();
            _ok = $('#password').attr('_ok');
            {% if not user.user_id %}
            if (!password) {
                alert('{{_("\"Password\" is required")}}');
                $('#password').focus();
                return;
            }
            {% endif %}
            
            if (!_ok) {
                alert('{{_("\"Password\" is required")}}');
                $('#password').focus();
                return;
            }
            
            var password2 = $('#password2').val();
            
            if (password != '' && password2 != password2) {
                $('#user-dialog').
                    html("<p>{{_('Passwords must be equal')}}</p>").
                    dialog({
                        title: "{{_('User')}}",
                        modal: true,
                        width: 300,
                        height: 100,
                        resizable: false
                    });
            }
            else {
                
                var copy_from = '';
                {% if not user.user_id %}
                copy_from = $('#copy_from option:selected').val(),
                {% endif %}
                
                $.ajax({
                    url: "{{tg.url('/dashboard/users/save/')}}",
                    data: {
                        id: "{{user.user_id}}",
                        display_name: display_name,
                        user_name: user_name,
                        email_address: email_address,
                        password: password,
                        copy_from: copy_from,
                    },
                    success: function(data) {
                        if (data.status) {
                            $('#form_exit').submit();
                        }
                        else if (data.message) {
                            alert(data.message);
                        }
                        else {
                            alert('Error!');
                        }
                    }
                });
            }
        });
        
        $.ajax({
            url: "{{tg.url('/dashboard/users/all_')}}",
            type: "get",
            dataType: "json",
            success: function(res) {
                var options = '';
                for (var i=0; i<res.users.length; i++) {
                    var user = res.users[i];
                    
                    options +=
                        '<option value="' + user.id + '">' +
                           user.display_name + ' [' + user.user_name + ']</option>';
                }
                
                $('#copy_from').html(options);
            },
            error: function() {
            }
        });
    });
</script>
{% endblock %}