{% extends 'sapns/base.html' %}
{% import 'sapns/dashboard/util.html' as util %}

{% block head %}
    {{ super() }}
    {{ util.jquery() }}
    {{ util.jquery_ui() }}
    <link rel="stylesheet" href="{{tg.url('/css/users/roles.css', params=dict(v=1))}}">
{% endblock %}

{% block middle %}
    <div id="user_name">{{user.name}}</div>
    <div id="roles">
        <div id="title">{{_('Check (or uncheck) the ROLES you want this user to be in')}}</div>
        <div id="roles_list">
        <!-- {% for r in roles %} -->
        <div>
            <div class="role_row">
                <div class="role_name">{{r.name}}</div>
                <input class="role_cb" type="checkbox" id_role="{{r.id}}" {% if r.selected %} checked {% endif %}>
            </div>
        </div>
        <!-- {% endfor %} -->
        </div>
    </div>
    
    <script>
        _loader.load(
            { url: "{{tg.url('/js/sidebar-messages.min.js?v=2')}}" }
        );

        $(function() {
            var sbm = new SidebarMessages();

            $('#roles_list .role_row .role_cb').click(function() {
                var cb       = $(this),
                    id_role  = cb.attr('id_role'),
                    selected = cb.prop('checked');

                var id_message = sbm.show({ message: "{{_('Wait, please...')}}", hide_after: 0 });

                $.ajax({
                    url: "{{tg.url('/dashboard/users/update_role')}}",
                    data: {
                        id_user: {{user.id}},
                        id_role: id_role,
                        selected: selected
                    },
                    success: function(res) {
                        sbm.hide({ id: id_message });

                        if (!res.status) {
                            cb.prop('checked', !selected);
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
