#sp-edit-view { padding:5px }
#sp-edit-view .header { padding:5px; border-radius:3px; background-color:#ECEFCC; height:63px }
#sp-view-title { width:250px }
#sp-view-name { width:250px }
#sp-view-table .sp-select-text { width:250px }

#sp-edit-view-buttons button { font:13px arial; float:right; margin-left:10px }

#sp-edit-view-path { height:30px; border-radius:2px; background-color:#ecefcc; 
margin-top:5px; padding:1px 5px }

#sp-edit-view-class-attribute { height:150px; clear:left; border-radius:3px; 
background-color:#f2f2f2; margin-top:5px }
#sp-edit-view-class-attribute .col { float:left; padding:5px 10px; height:140px; 
overflow:auto; background-color:#f2f2f2 }

#sp-edit-view-classes { width:400px; margin-right:5px }
#sp-edit-view-classes a { font-weight:normal; font:13px arial }
#sp-edit-view-classes a.jstree-clicked { background-color:#ECEFCC; border:0; color:#5b5d26; font-weight:bold }
#sp-edit-view-classes a:hover { background-color:orange }
#sp-edit-view-attr-list { width:540px; border-radius:2px }
#sp-edit-view-attr-list .attribute { border-radius:2px; background-color:#ECEFCC; 
color:#444; margin-bottom:3px; padding:1px 5px; font:bold 14px arial;
clear:left; height:18px }
#sp-edit-view-attr-list .attribute span { font-weight:normal; font-size:12px }
#sp-edit-view-attr-list .attribute .col-attr { float:left }
#sp-edit-view-attr-list .attribute .col-attr.name { width:485px; margin-right:5px }
#sp-edit-view-attr-list .attribute .col-attr.add { padding:0 2px; cursor:pointer }
#sp-edit-view-attr-list .attribute .col-attr.add:hover { background-color:#ddd; color:#fff }

#sp-edit-view-cols { background-color:#B4BD3C; height:60px; clear:left; padding:5px; 
overflow:auto; margin-top:5px; border-radius:2px }
#sp-edit-view-cols .column { float:left; margin-right:4px; margin-top:2px; background-color:#f9f9f9;
border-radius:4px; cursor:default }
#sp-edit-view-cols .column div { float:left }
#sp-edit-view-cols .column div.title { text-align:center; font:13px arial; min-width:90px; padding:1px 4px }
#sp-edit-view-cols .column div.close { font:10px arial; background-color:#ddd; text-align:center;
width:15px; height:15px; padding-top:2px; border-radius:0 4px 4px 0 }
#sp-edit-view-cols .column div.close:hover { background-color:#444; color:#f2f2f2 }
#sp-edit-view-cols .placeholder { float:left; margin-right:4px; margin-top:2px; background-color:#444;
font:13px arial; padding:1px 4px; width:105px; text-align:center; border-radius:4px; cursor:default;
height:15px }

#sp-edit-view-list { height:260px; margin-top:5px; background-color:transparent; border-radius:2px }

#sp-edit-attribute-title { width:565px }
#sp-edit-attribute-expression { width:565px; font:bold 14px courier,arial }