<!DOCTYPE html>
<html>
<head>

<!-- * * * SUBSTITUTE "myapp" for the name of your app root folder * * * -->

{% block head %}
    <meta charset="UTF-8">
    <title>My app title</title>

    <!-- Sapns styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/style.css')}}"/>
    
    <!-- Overridden Sapns styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/myapp/sapns.css')}}"/>
    
    <!-- MyApp styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/myapp/style.css')}}"/>
{% endblock %}
</head>
<body>
    {% block header %}
    <div class="sp_header">
        {% include 'myapp/header.html' %}
    </div>
    {% endblock %}
    
    <div class="sp_middle">
    {% if page %}
    <div><a href="/">home</a>: {{_('You are in')}} <span style="font-weight: bold;">{{page}}</span></div>
    {% endif %}
    
    {% if came_from %}
    <div><a href="{{came_from}}">{{_('return')}}</a></div>
    {% endif %}
    {% block middle %}
    {% endblock middle %}
    </div>
    
    <div class="sp_footer">
    {% block footer %}
        {% include 'myapp/footer.html' %}
    {% endblock %}
    </div>
</body>
</html>