{% extends 'base.html' %}
{% import 'util.html' as util %}
{% import 'grid.html' as grid_html %}

{% block head %}
    {{super()}}
    {{util.jquery()}}
    {{grid_html.js_functions(_)}}    
{% endblock %}

{% block middle %}
    <!-- List of users -->
    {{grid_html.show(None, _, '', grid, show_ids, link=None, came_from=came_from, with_search=False, with_pager=False)}}
    
    <ul>        
        <li>
            <a href="{{tg.url('/users/permission', came_from=tg.url('/users'))}}">{{_('Permission')}}</a>
        </li>
        
        <li>
            <a href="{{tg.url('/users/roles', came_from=tg.url('/users'))}}">{{_('Roles')}}</a>
        </li>
    </ul>
{% endblock %}