{% extends 'sapns/base.html' %}
{% import 'sapns/dashboard/util.html' as u %}

{% block head %}
    {{ super() }}
    {{ u.jquery() }}
    {{ u.jquery_ui() }}
    <link rel="stylesheet" href="{{tg.url('/css/privileges/privileges.copy.css', params=dict(v=1))}}">
{% endblock %}

{% block middle %}
    <div id="main">
        <div id="title">{{_('Select the roles you want to copy their privileges from into ')}}
            <span class="role_title">{{this_role.name}}</span>:</div>
        <div id="roles_list">
        <!-- {% for r in roles %} -->
        <div class="role_row">
            <div class="role_name">{{r.name}}</div>
            <input type="checkbox" id_role="{{r.id}}">
        </div> 
        <!-- {% else %} -->
        <div class="no-roles">{{_('There is no other role in the system besides <span>%s</span>' % this_role.name)}}</div>
        <!--{% endfor %}-->
        </div>
        
        <div id="buttons">
            <button id="cancel">{{_('Cancel')}}</button>
            <!-- {% if roles %} -->
            <button id="copy">{{_('Copy')}}</button>
            <!-- {% endif %} -->
        </div>
    </div>
    
    <script>
        _loader.load(
            { url: "{{tg.url('/js/sidebar-messages.min.js?v=2')}}" }
        );

        $(function() {
            var sbm = new SidebarMessages();

            function cancel() {
                var form_ = $('<form/>', {
                    method: 'post',
                    action: "{{came_from}}"
                });

                form_.appendTo('body').submit().remove();
            }

            $('#copy').click(function() {
                var roles = $('.role_row input[type=checkbox]:checked'),
                    selected_roles = [];
                for (var i=0, l=roles.length; i<l; i++) {
                    var r = $(roles[i]);
                    selected_roles.push(r.attr('id_role'));
                }
                
                if (selected_roles.length > 0) {

                    var id_message = sbm.show({ message: "{{_('Wait, please...')}}", hide_after: 0, modal: true });
                    
                    $.ajax({
                        url: "{{tg.url('/dashboard/privileges/_copy')}}",
                        data: {
                            to: {{this_role.id}},
                            from: JSON.stringify(selected_roles)
                        },
                        success: function(data) {
                            sbm.hide({ id: id_message });

                            if (data.status) {
                                cancel();
                            }
                            else {
                                alert('Error!');
                            }
                        }
                    });
                }
                else {
                    alert("{{_('You have to select one role at least')}}");
                }
            });

            $('#cancel').click(function() {
                cancel();
            });
        });
    </script>
{% endblock %}
