{% extends 'sapns/base.html' %}
{% import 'sapns/dashboard/util.html' as util %}

{% block head %}
    {{ super() }}
    {{ util.jquery() }}
    {{ util.jquery_ui() }}
    <link rel="stylesheet" type="text/css" media="screen" href="/css/privileges/privileges.min.css">
{% endblock %}

{% block middle %}
<div id="main_pane">
    <div id="classes_sidebar">
        <div id="classes_title">{{_('Classes')}}</div>
        <div id="classes_list"></div>
    </div>
    
    <div id="right_content">
        <div id="attr_pane">
            <div id="attr_title">
              <div id="attr_title_caption">{{_('Attributes')}}</div>
              <button id="btn_denied" title="{{_('Denied')}}">DE</button>
              <button id="btn_readonly" title="{{_('Read-only')}}">R-O</button>
              <button id="btn_readwrite" title="{{_('Read/Write')}}">R/W</button>
            </div>
            <div id="attr_list"></div>
        </div>
        
        <div id="actions_pane">
            <div id="actions_title">
                <div id="actions_title_caption">{{_('Actions')}}</div>
                <button id="btn_yes">{{_('Yes')}}</button>
                <button id="btn_no">{{_('No')}}</button>
            </div>
            <div id="actions_list"></div>
        </div>
    </div>

    <script type="text/javascript">
        {% include 'sapns/privileges/privileges.min.js' %}
    </script>
</div>
{% endblock %}