<!DOCTYPE html>
<html>
<head>
{% block head %}
<meta charset="UTF-8">
<title>{{tg.config.get('app.name', 'Sapns')}} - {{tg.config.get('app.subtitle', 'Web Information System')}}</title>
{% endblock %}
<link rel="stylesheet" href="{{tg.url('/css/style.min.css', dict(v=15))}}">
<!--{% if tg.config.get('app.root_folder') %}-->
  <!--{% set root_folder = tg.config.get('app.root_folder') %}-->
  <link rel="stylesheet" href="{{tg.url('/css/%s/sapns.css' % root_folder, params=dict(v=1))}}">
  <link rel="stylesheet" href="{{tg.url('/css/%s/style.css' % root_folder, params=dict(v=1))}}">
<!--{% endif %}-->
</head>
<body>
    {% block header %}
    <div class="sp_header_top">
        <div class="sp_header">
            {% include 'sapns/header.html' %}
        </div>
    </div>
    {% endblock %}
    
    <div class="sp_middle">
        <div class="sp_sidebar"></div>
        <div id="sp-sidebar-background"></div>
        
        <div class="sp_center">
        {% block middle %}
        {% endblock middle %}
        </div>
    </div>
    
    <script>
        // Load sidebar (don't wait for document load) 
        $.ajax({
            url: "{{tg.url('/dashboard/sidebar/')}}",
            data: {came_from: "{{came_from or ''}}"},
            cache: true, 
            dataType: 'html',
            success: function(content) {
                $('.sp_sidebar').html(content).sortable({
                    item: '.item_sb_sortable',
                    axis: 'y',
                    cancel: '.item_home',
                    placeholder: 'item_sb_dragging',
                    stop: function() {
                        var order = [];
                        $('.item_sb_sortable').each(function() {
                            order.push($(this).attr('shortcut_id')*1);
                        });
                        
                        $.ajax({
                            url: "{{tg.url('/dashboard/sc/reorder/')}}",
                            data: { order: JSON.stringify(order) },
                            success: function(res) {
                                if (!res.status) {
                                    $('.sp_sidebar').html(content).sortable('cancel');
                                }
                            },
                            error: function() {
                                $('.sp_sidebar').html(content).sortable('cancel');
                            }
                        });
                    }
                });
            }
        });
    </script>
</body>
</html>