<!DOCTYPE html>
<html>
<head>
{% block head %}
<meta charset="UTF-8">
<title>{% if page %} {{page}} -{% endif %}
    {{tg.config.get('app.name', 'Sapns')}} - {{tg.config.get('app.subtitle', 'Web Information System')}}
    [{{tg.request.identity['user'].display_name}}]</title>
<script src="{{tg.url('/js/sapns.loader/sapns.loader.min.js?v=4')}}"></script>
<script>
    var _loader = new sapnsLoader({ log: false });
</script>
{% endblock %}
<link rel="stylesheet" href="{{tg.url('/css/style.min.css', dict(v=24))}}">
<!--{% if h.root_folder() %}-->
    <link rel="stylesheet" href="{{tg.url('/css/%s/sapns.css' % h.root_folder(), params=dict(v=1))}}">
    <link rel="stylesheet" href="{{tg.url('/css/%s/style.css' % h.root_folder(), params=dict(v=1))}}">
<!--{% endif %}-->
</head>
<body>
    {% block header %}
    <div class="sp_header_top">
        <div class="sp_header">
            {% include 'sapns/header.html' %}
        </div>
    </div>
    {% endblock %}
    
    <div class="sp_middle">
        <div class="sp_sidebar"></div>
        <div id="sp-sidebar-background"></div>
        
        <div class="sp_center">
        {% block middle %}
        {% endblock middle %}
        </div>
    </div>
    
    <script>
        {{ h.load('sapns/sidebar-loader.js', came_from=came_from) }}
    </script>
</body>
</html>
