<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{tg.config.get('app.name', 'Sapns')}} - 
    {{tg.config.get('app.subtitle', 'Web Information System')}}</title>

<style type="text/css">
    .sapns-color {
        color: #B4BD3C;
    }
    
    .sapns-name {
        color: #B4BD3C;
        font-weight: bold;
        font-size: 16px;
    }
    
    #welcome {
        background-color: #B4BD3C; 
        height: 60px; 
        padding: 20px;
        border: 2px solid white;
        margin-top: 20px;
    }    
</style>

<style type="text/css" media="print">
    .sapns-name {
        color: green;
        font-weight: bold;
        font-size: 20px;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    #welcome {
        background-color: black;
        color: white; 
        height: 60px; 
        padding: 20px;
        border: 2px solid white;
        margin-top: 20px;
    }
</style>
{% endblock %}
<link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/style.css')}}">
</head>
<body>
    <div id="welcome" >
        <h1 style="color: white; font-style: normal;">Welcome to Sapns!</h1>    
    </div>
    
    <div style="height: 610px; background-color: white; padding: 20px;
        overflow: auto;
        border: 2px solid white; 
        font-size: 15px; text-align: justify;">
    
    <p><span class="sapns-name">Sapns</span> is an open source project released under the 
    <a href="http://www.gnu.org/copyleft/gpl.html" target="_blank">GPL</a> (don't know yet...)
    license, and built on top of <a href="http://www.turbogears.org" target="_blank">Turbogears</a>.
    It pretends to be a <span style="font-style: italic;">one-size, fits-all</span> system for 
    <span style="font-weight: bold;">intensive data-management</span> web apps. Regardless the application you want to build, <span class="sapns-name">Sapns</span> 
    will help you in that task with a set of tools, so you can manage data (and more) 
    from the very first moment.</p>
    
    <p>(intensive data-management explanation)</p>
    
    <p><span class="sapns-name">Sapns</span> makes use of (and loves) other open projects:</p>
    <ul>
        <li><a href="http://www.python.org" target="_blank">Python</a> to make almost everything</li>
        <li><a href="http://www.postgresql.org/" target="_blank">PostgreSQL</a> to store data</li>
        <li><a href="http://www.sqlalchemy.org" target="_blank">SQLAlchemy</a> to define and manage data models</li>
        <li><a href="http://jinja.pocoo.org/" target="_blank">Jinja2</a> to write templates</li>
        <li><a href="http://jquery.com/" target="_blank">jQuery</a> to improve user interface</li>
    </ul>

    <p>Not part of <span class="sapns-name">Sapns</span> but very useful too:
    <ul>
        <li><a href="http://httpd.apache.org/" target="_blank">Apache</a> to serve apps</li>
        <li><a href="http://code.google.com/p/modwsgi/" target="_blank">mod-wsgi</a> to connect 
            <a href="http://www.turbogears.org" target="_blank">Turbogears</a> and 
            <a href="http://httpd.apache.org/" target="_blank">Apache</a>
            </li>
       <li><a href="http://eclipse.org/" target="_blank">Eclipse</a> to write apps</li>
       <li><a href="http://git-scm.com/" target="_blank">Git</a> to control source</li>
       <li><a href="http://github.com/" target="_blank">GitHub</a> to make all this code available</li>
    </ul>
    
    <p>You can start <a href="/dashboard">here</a> with the following login data:</p>
    <p style="margin-left: 20px;">username: <span style="font-weight: bold; font-style: italic;">manager</span><br>
    password: <span style="font-weight: bold; font-style: italic;">manager</span></p>
    
    <p>If you want to read more about <span class="sapns-name">Sapns</span> 
    project, please go <a href="http://www.sapns.org" target="_blank">here</a>.</p>

    <p>Enjoy the experience!</p>
    <p style="font-size: 14px; color: gray;"><span class="sapns-name">Sapns</span> team</p>
    </div>
    
    <div style="height: 20px; background-color: #B4BD3C; padding-top: 5px;
        border: 2px solid white;">
    <div style="float: left; margin-left: 10px;margin-right: 5px;"> 
        <a href="{{tg.url('/setlang', params=dict(lang='en'))}}">
            <img {% if curr_lang[0] == 'en' %} src="{{tg.url('/images/flags/uk.jpg')}}"
            {% else %} src="/images/flags/uk-disabled.jpg" {% endif %};
            title="english"/>
            </a></div>    
    <div style="float: left;">
        <a href="{{tg.url('/setlang', params=dict(lang='es'))}}">
            <img {% if curr_lang[0] == 'es' %} src="{{tg.url('/images/flags/spain.jpg')}}"
            {% else %} src="/images/flags/spain-disabled.jpg" {% endif %};
            title="español"/>
            </a></div>
    </div>
</body>
</html>