{% extends 'sapns/empty.html' %}
{% import 'sapns/dashboard/util.html' as util %}

{% block head %}
    {{ super() }}
    {{ util.jquery() }}
    <script src="{{tg.url('/js/sapns.loader/sapns.loader.min.js?v=4')}}"></script>
    <script>
        var _loader = new sapnsLoader({
            log: false,
            no_injection: true,
            then: function() {
                window.location = "{{came_from}}";
            }
        });

        _loader.load(
            { url: "{{tg.url('/css/init.css?v=1')}}", type: 'css' },
            { url: "{{tg.url('/js/sapns.dialog/sapns.dialog.js?v=1')}}" },
            { url: "{{tg.url('/js/sprintf/sprintf.min.js?v=1')}}" },
            { url: "{{tg.url('/js/sidebar-messages.min.js?v=2')}}" },
            { url: "{{tg.url('/api/components/load?tmpl=sapns/dashboard/datefield/datefield.js&v=1&min=1')}}" },
            { url: "{{tg.url('/js/fields.min.js?v=1')}}" },
            { url: "{{tg.url('/js/fields2.min.js?v=1')}}" },
            { url: "{{tg.url('/js/dateformat.min.js?v=1')}}" },
            { url: "{{tg.url('/api/components/grid?v=12')}}" },
            { url: "{{tg.url('/api/components/selector?v=4')}}" },
            { url: "{{tg.url('/api/components/uploader?v=1')}}" }
        );
    </script>
{% endblock %}

{% block middle %}
    {{ super() }}
    <h2 id="wait-message">{{_('Wait, please...')}}</h2>
{% endblock %}
