{% extends 'sapns/no_sidebar.html' %}
{% import 'sapns/dashboard/util.html' as util %}

{% block head %}
    {{ super() }}
    {{ util.jquery() }}
    {{ util.jquery_ui() }}
    <style>
    .sp_center { width: 1198px !important; left: 0px !important }
    #loginform .background-icon { position:absolute; left:15px; top:25px; width:150px; height:150px; opacity:0.4;
        background:transparent url('{{tg.url("/images/sapns/icons/lock.png")}}') center center no-repeat; background-size:contain; z-index:0 }
    #loginform #submit { width:50px; height:50px; border:0; float:right; margin-right:10px; cursor:pointer; 
        background:transparent url('{{tg.url("/images/sapns/icons/to-right_disabled.png")}}') center center no-repeat;
        background-size:contain; opacity:0.7 }
    #loginform #submit:hover { background:transparent url('{{tg.url("/images/sapns/icons/to-right.png")}}') center center no-repeat; } 
    </style>
{% endblock %}

{% block middle %}

<div id="forgot_password_dlg" style="display:none">
    <h3>{{_('Enter your username or e-mail')}}</h3>
    <input id="username_or_email" type="text">
</div>

<div id="loginform">

<div class="background-icon">&nbsp;</div>

<form action="{{tg.url('/login_handler', params=dict(came_from=came_from.encode('utf-8'), __logins=login_counter.encode('utf-8')))}}" method="post" accept-charset="UTF-8" class="loginfields">
    <div class="top-space">&nbsp;</div>
    <div class="line">
        <div class="label">{{_('Username')}}</div>
        <input type="text" id="loginusername" name="login" class="text">
    </div>
    
    <div class="line">
        <div class="label">{{_('Password')}}</div>
        <input type="password" id="loginpassword" name="password" class="text">
    </div>
    
    <div class="line rememberme">
        <div class="label">{{_('remember me')}}</div>
        <div class="input"><input type="checkbox" id="loginremember" name="remember" value="2252000"></div>
    </div>
    
    <div class="line">
        <input type="submit" id="submit" value="" title="Login">
    </div>
</form>
</div>

<div id="forgot_password">
    <label>{{_('Forgot my password')}}</label>
</div>

<!--{% if login_counter|int > 0 %}-->
<div id="wrong-login">{{_('<span>Wrong login</span>. Please, verify your username or password')}}</div>
<!--{% endif %}-->

<script src="{{tg.url('/js/sidebar-messages.min.js')}}"></script>
<script>
    $(function() {
        $('#loginusername').focus();
        
        $('#forgot_password label').click(function(event) {
            $('#username_or_email').val('').focus();
            $('#forgot_password_dlg').dialog({
                title: "{{_('Remember password')}}",
                modal: true,
                resizable: false,
                draggable: false,
                width: 650,
                height: 'auto',
                buttons: {
                    "{{_('Please, e-mail me a new password')}}": function() {
                        
                        $('.ui-button').prop('disabled', true).css('cursor', 'wait');
                        $('#username_or_email').attr('readonly', true);
                        
                        var username_or_email = $('#username_or_email').val();
                        if (!username_or_email) {
                            return;
                        }
                        
                        $.ajax({
                            url: "{{tg.url('/remember_password/')}}",
                            cache: false,
                            data: {
                                username_or_email: username_or_email
                            },
                            success: function(res) {
                                $('.ui-button').prop('disabled', false).css('cursor', 'default');
                                $('#username_or_email').attr('readonly', false);
                                if (res.status) {
                                    alert("{{_('A new password has been sent to you by e-mail')}}");
                                    $('#forgot_password_dlg').dialog('close');
                                }
                                else {
                                    if (res.message) {
                                        alert(res.message);
                                    }
                                    else {
                                        alert('Error!');
                                    }
                                }
                            }
                        });
                    },
                    "{{_('Close')}}": function() {
                        $('#forgot_password_dlg').dialog('close');
                    }
                }
            });
        });
    });
</script>
{% endblock %}
