<!DOCTYPE html>
<html>
<head>
{% block head %}
<meta charset="UTF-8">
<title>{{tg.config.get('app.name', 'Sapns')}} - {{tg.config.get('app.subtitle', 'Web Information System')}}</title>
{% endblock %}
<link rel="stylesheet" href="{{tg.url('/css/style.min.css', params=dict(v=20))}}">
<!--{% if tg.config.get('app.root_folder') %}-->
  <!--{% set root_folder = tg.config.get('app.root_folder') %}-->
  <link rel="stylesheet" href="{{tg.url('/css/%s/sapns.css' % root_folder, params=dict(v=1))}}">
<!--{% endif %}-->
</head>
<body>
    {% block header %}
    <div class="sp_header_top">
        <div class="sp_header">
            {% include 'sapns/header.html' %}
        </div>
    </div>
    {% endblock %}
    
    <div class="sp_middle">
        <div class="sp_center no-sidebar">
        {% block middle %}
        {% endblock middle %}
        </div>
    </div>
    
    {#
    {% block footer %}
    <div class="sp_footer">
        {% include 'sapns/footer.html' %}
    </div>
    {% endblock %}
    #}
</body>
</html>
