<!DOCTYPE html>
<html>
<head>
{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{tg.config.get('app.name', 'Sapns')}} - 
    {{tg.config.get('app.subtitle', 'Web Information System')}}</title>
{% endblock %}
<link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/style.css')}}">
{% if tg.config.get('app.root_folder') %}
  {% set root_folder = tg.config.get('app.root_folder') %}
  <link rel="stylesheet" type="text/css" media="screen" 
      href="{{tg.url('/css/%s/sapns.css' % root_folder)}}">
{% endif %}
</head>
<body>
    {% block header %}
    <div class="sp_header_top">
        <div class="sp_header">
            {% include 'sapns/header.html' %}
        </div>
    </div>
    {% endblock %}
    
    <div class="sp_middle">
        <div class="sp_center">
        {% block middle %}
        {% endblock middle %}
        </div>
    </div>
    
    {#
    {% block footer %}
    <div class="sp_footer">
        {% include 'sapns/footer.html' %}
    </div>
    {% endblock %}
    #}
</body>
</html>