<div class="item_sb item_home">
    <a href="{{home}}"><img class="icon_sb" src="{{tg.url('/images/sapns/icons/home.png')}}" title="Home"></a>
    <!--{% if came_from %}-->
    <a href="{{came_from}}">
        <img class="icon_sb return_sb" src="{{tg.url('/images/sapns/icons/return.png')}}" title="{{_('Return')}}">
    </a>
    <!--{% endif %}-->
</div>

<!--{% for sc in shortcuts %}-->
<!--{% if sc.action_type %}-->
<!--{% if sc.action_type == 'list' %}-->
<div class="item_sb item_sb_sortable" shortcut_id="{{sc.id}}">
    <a href="{{tg.url('/dashboard/list/%(cls)s'|format(cls=sc.cls), params=dict(came_from=''))}}">
        <span class="text_sb" title="{{sc.title}}"><img src="{{tg.url('/images/sapns/icons/list.png')}}"> {{sc.title}}</span></a>
    
    <!--{% if sc.actions %}-->
    <div class="subactions">
    <!--{% for subaction in sc.actions %}-->
    <div class="item"><a class="subaction" href="{{subaction.url}}"
        {% if subaction.desc %}title="{{subaction.desc}}"{% endif %}>
            <img src="{{tg.url('/images/sapns/icons/process.png')}}"> {{subaction.title}}
    </a></div>
    <!--{% endfor %}-->
    </div>
    <!--{% endif %}-->
</div>
<!--{% elif sc.action_type == 'process' %}-->
<div class="item_sb item_sb_sortable" shortcut_id="{{sc.id}}">
    <a href="{{tg.url(sc.url, params=dict(cls=sc.cls, came_from=''))}}">
        <label class="text_sb" title="{{sc.title}}">
        <img src="{{tg.url('/images/sapns/icons/process.png')}}">
        {{sc.title}}
        </label></a>
</div>
<!--{% elif sc.action_type == 'object' %}-->
<div class="item_sb item_sb_sortable" shortcut_id="{{sc.id}}">
    <div class="text_sb" title="{{sc.title}}"><a href="{{tg.url(sc.url)}}">{{sc.title}}</a></div>
</div>
<!--{% endif %}-->
<!--{% else %}-->
<div class="item_sb item_sb_sortable" shortcut_id="{{sc.id}}">
    <a href="{{tg.url('/dashboard/data_exploration/?sc_parent=%d' % sc.id)}}">
        <label class="text_sb" title="{{sc.title}}">
            <img src="{{tg.url('/images/sapns/icons/group.png')}}">
            {{sc.title}}
        </label>
    </a>
</div>
<!--{% endif %}-->
<!--{% endfor %}-->