{% import 'sapns/dashboard/util.html' as util %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Uploading files test</title>
{{ util.jquery() }}
{{ util.qtip2() }}
<style type="text/css">
    .file_name {
        text-decoration: underline;
        font-size: 10px;
        font-family: Arial;
    }
</style>
<script type="text/javascript">
{% include 'sapns/dashboard/sapns.uploader.js' %}
</script>
</head>
<body>
    <div id="upload_1"></div>
    <div id="upload_2"></div>
    <div id="upload_3"></div>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $('#upload_1').sapnsUploader({
                repo: 5 
                //qtip: {style: 'ui-tooltip-red'} 
            });
            
            $('#upload_2').sapnsUploader({repo: 1});
            $('#upload_3').sapnsUploader({repo: 1});
        });
    </script>
</body>
</html>