{% extends 'base.html' %}

{% block middle %}

{% import 'util.html' as util %}
{{util.jquery()}}

<script type="text/javascript">
    $(document).ready(function() {
    	
    	$('#save_button').click(function() {
    		var params = '';
    		
    		// text
    		$('.sp_text_field').each(function() {
    			params += 
    				'<input type="hidden" ' + 
    			        'name="fld_' + $(this).attr('name') + '" ' + 
    			        'value="' + $(this).val() + '"/>\n';
    		});
    		
    		// checkbox
            $('.sp_checkbox_field').each(function() {
                params += 
                    '<input type="hidden" ' + 
                        'name="fld_' + $(this).attr('name') + '" ' + 
                        'value="' + $(this).attr('checked') + '"/>\n';
            });
    		
    		// select fields
            $('.sp_select_field').each(function() {
                params += 
                    '<input type="hidden" ' + 
                        'name="fld_' + $(this).attr('name') + '" ' + 
                        'value="' + $(this).val() + '"/>\n';
            });
    		
    		//alert(params)
    		
    		$('#edit_form').append(params).submit();
    	});
    });
</script>

<style type="text/css">
    .sp_edit_panel {
        overflow: auto;
    }
    
    .sp_save_button {
        position: fixed;
        right: 300px;
    }
    
    .sp_edit_field {
    }
    
    .sp_text_field {
        width: 97%;
        max-width: 97%;
        min-width: 97%;
        margin-left: 1%;
    }
    
    .sp_select_field {
        width: 85%;
        margin-left: 1%;
    }
    
    .sp_checkbox_field {
        with: 97;
        margin-left: 1%;
    }
    
    .sp_memo_field {
        min-height: 40px;
        height: 100px;
        /*font-family: Courier;*/
    }
</style>

<form id="edit_form" method="post" action="{{tg.url('/save')}}">
    <input type="hidden" name="cls" value="{{cls}}"/> 
    <input type="hidden" name="id" value="{{id}}"/>
</form>

<div class="sp_edit_panel">
    <div class="sp_save_button">
        <input id="save_button" class="sp_button" type="button" value="{{_('Save')}}"/>
    </div>
    
    <div style="font-size: 25px; margin-left: 1%;">
        {{title}}
    </div>

    {% if reference %}
    <div style="margin-left: 1%; width: 97%; font-size: 15px; color: black; 
        background-color: none;">[{{reference}}]</div>
    {% endif %}
    
    <div style="height: 10px;">
    </div>
    
    {#{% for rc in related_classes %}
    <div>{{rc.name}}.{{rc.attr_name}}</div>
    {% endfor %}#}
    
    {% for atr in attributes %}
    <div class="sp_edit_field">
        <div class="sp_label_field" 
            style="margin-left: 10px; 
                margin-top: 4px;
                margin-bottom: 2px;">{{atr.title|escape}}</div>
        <div>
        <!-- Boolean -->
        {% if atr.type == 'Boolean' %}
        <input class="sp_checkbox_field" type="checkbox" name="{{atr.name}}"
            {% if atr.value %}checked{% endif %}/>
        {% elif atr.type == 'String' %}
        <textarea class="sp_text_field sp_memo_field" name="{{atr.name}}"/>{{atr.value}}</textarea>
        {% elif atr.vals != None %}
        <select name="{{atr.name}}" 
            related_class="{{atr.related_class}}" class="sp_select_field">
            <option value="null" 
                {% if atr.value == None %}selected{%endif%}>{{_('none')}}</option>
            {% for value in atr.vals %}
            <option value="{{value.id}}" 
                {% if value.id == atr.value %}selected{%endif%}>{{value.title}}</value>
            {% endfor %}
        </select>
        <a href="/list?cls={{atr.related_class}}" target="_blank"
            title="{{atr.related_class}}">[{{_('list')}}]</a>
        {% if atr.value %}
        <a href="/edit?cls={{atr.related_class}}&id={{atr.value}}" 
            target="_blank">[{{_('edit')}}]</a>
        {% endif %}
        {% else %}
        <input class="sp_text_field" type="text" name="{{atr.name}}" 
            value="{{atr.value}}"/>
        {% endif %}
        </div>
    </div>
    {% endfor %}
    <div style="height: 40px;">
    </div>
</div>
{% endblock %}