{% extends 'base.html' %}

{% block middle %}

{% import 'util.html' as util %}
{{util.jquery()}}
{{util.jquery_ui()}}

<script type="text/javascript">
    $(document).ready(function() {
    	
    	$('#save_button').click(function() {
    		var params = '';
    		
    		// text
    		$('.sp_text_field').each(function() {
    			params += 
    				'<input type="hidden" ' + 
    			        'name="fld_' + $(this).attr('name') + '" ' + 
    			        'value="' + $(this).val() + '"/>\n';
    		});
    		
    		// checkbox
            $('.sp_checkbox_field').each(function() {
                params += 
                    '<input type="hidden" ' + 
                        'name="fld_' + $(this).attr('name') + '" ' + 
                        'value="' + $(this).attr('checked') + '"/>\n';
            });

    		// date
            $('.sp_date_field').each(function() {
            	
            	var date_value = $(this).datepicker('getDate');
            	
            	if (date_value != null) {
            		var year = date_value.getFullYear()
              	    var month = date_value.getMonth() + 1;
              	    var day = date_value.getDate();
              	
              	    date_value = year + '-' + month + '-' + day;
            	}
            	else {
            		date_value = '';
            	}
            	
                params += 
                    '<input type="hidden" ' + 
                        'name="fld_' + $(this).attr('name') + '" ' + 
                        'value="' + date_value + '"/>\n';
            });
    		
    		// select fields
            $('.sp_select_field').each(function() {
                params += 
                    '<input type="hidden" ' + 
                        'name="fld_' + $(this).attr('name') + '" ' + 
                        'value="' + $(this).val() + '"/>\n';
            });
    		
    		//alert(params)
    		
    		$('#edit_form').append(params).submit();
    	});
    	
    	// create datepickers
    	// with specific date format and options
    	$('.sp_date_field').datepicker({
    		firstDay: {{js_options.first_day}},
    		changeMonth: true,
    		changeYear: true,
    		showOn: 'button',
    		autoSize: true,
    		nextText: "{{_('Next')}}",
    		prevText: "{{_('Prev')}}",
    		dateFormat: '{{js_options.date_format}}',
    		dayNames: ["{{_('Sunday')}}", "{{_('Monday')}}", "{{_('Tuesday')}}",
    		           "{{_('Wednesday')}}", "{{_('Thursday')}}", "{{_('Friday')}}",
    		           "{{_('Saturday')}}"],
    		dayNamesMin: ["{{_('Su')}}", "{{_('Mo')}}", "{{_('Tu')}}", "{{_('We')}}",
    		              "{{_('Th')}}", "{{_('Fr')}}", "{{_('Sa')}}"],
    		monthNames: ["{{_('January')}}", "{{_('February')}}", "{{_('March')}}", 
    		             "{{_('April')}}", "{{_('May')}}", "{{_('June')}}",
    		             "{{_('July')}}", "{{_('August')}}", "{{_('September')}}", 
    		             "{{_('October')}}", "{{_('November')}}", "{{_('December')}}"]
    	});
    });
</script>

<style type="text/css">
    .sp_edit_panel {
        overflow: auto;
    }
    
    .sp_save_button {
        position: fixed;
        right: 350px;
        width: 80px;
        height: 30px;
        text-align: center;
        background-color: #B4BD3C;
        border: 1px solid gray;
    }
    
    .sp_edit_field {
    }
    
    .sp_text_field {
        width: 97%;
        max-width: 97%;
        min-width: 97%;
        margin-left: 1%;
    }
    
    .sp_select_field {
        width: 85%;
        margin-left: 1%;
    }
    
    .sp_checkbox_field {
        margin-left: 1%;
    }
    
    .sp_date_field {
        margin-left: 1%;
    }
    
    .sp_memo_field {
        min-height: 40px;
        height: 100px;
    }
</style>

<form id="edit_form" method="post" action="{{tg.url('/save')}}">
    <input type="hidden" name="cls" value="{{cls}}"/> 
    <input type="hidden" name="id" value="{{id}}"/>
</form>

<div class="sp_edit_panel">
    <div class="sp_save_button">
        <input id="save_button" class="sp_button" type="button" value="{{_('Save')}}"/>
    </div>
    
    <div style="font-size: 25px; margin-left: 1%;">
        {{title}}
    </div>

    {% if reference %}
    <div style="margin-left: 1%; width: 97%; font-size: 15px; color: black; 
        background-color: none;">[{{reference}}]</div>
    {% endif %}
    
    <div style="height: 10px;">
    </div>
    
    {#{% for rc in related_classes %}
    <div>{{rc.name}}.{{rc.attr_name}}</div>
    {% endfor %}#}
    
    {% for attr in attributes %}
    <div class="sp_edit_field">
        <div class="sp_label_field" 
            style="margin-left: 10px; 
                margin-top: 4px;
                margin-bottom: 2px;">{{attr.title|escape}}</div>
        <div>
        <!-- Boolean -->
        {% if attr.type == 'Boolean' %}
        <input class="sp_checkbox_field" type="checkbox" name="{{attr.name}}"
            {% if attr.value %}checked{% endif %}/>
        <!-- Date -->
        {% elif attr.type == 'Date' %}
        <input class="sp_date_field" type="text" name="{{attr.name}}" 
            value="{{attr.value}}"/>
        <!-- Memo -->
        {% elif attr.type == 'String' %}
        <textarea class="sp_text_field sp_memo_field" name="{{attr.name}}">{{attr.value|escape}}</textarea>
        <!-- Select -->
        {% elif attr.vals != None %}
        <select name="{{attr.name}}"
            related_class="{{attr.related_class}}" class="sp_select_field">
            <option value="null" 
                {% if attr.value == None %}selected{%endif%}>{{_('none')}}</option>
            {% for value in attr.vals %}
            <option value="{{value.id}}" 
                {% if value.id == attr.value %}selected{%endif%}>{{value.title}}</value>
            {% endfor %}
        </select>
        <a href="/list?cls={{attr.related_class}}" target="_blank"
            title="{{attr.related_class}}">[{{_('list')}}]</a>
            {% if attr.value %}
            <a href="/edit?cls={{attr.related_class}}&id={{attr.value}}" 
                target="_blank">[{{_('edit')}}]</a>
            {% endif %}
        {% else %}
        <input class="sp_text_field" type="text" name="{{attr.name}}" 
            value="{{attr.value|escape}}"/>
        {% endif %}
        </div>
    </div>
    {% endfor %}
    <div style="height: 40px;">
    </div>
</div>
{% endblock %}