{% macro js_functions(_) %}
<script type="text/javascript">
    $(document).ready(function() {
    	
        function search(button) {
            
            // parent grid of this search
            var grid_id = button.parent().parent().attr('id');

            // results per page
            var rp = $('#' + grid_id + ' .sp_grid_rp').val();
            
            // Add params to the form
            var params = 
                '<input name="rp" type="hidden" value="' + rp + '"/>';
                
            $('#' + grid_id + ' .sp_search_form').append(params);
            
            //alert($('#' + grid_id + ' .sp_search_txt').val());
            
            // submit the search
            $('#' + grid_id + ' .sp_search_form').submit();
        }
    	
    	// Link auto-submit with "Search..." button
    	$('.sp_search_form .sp_search_txt').keypress(function(event) {
    		// Pressed ENTER (13) in text search box
    		if (event.which == 13) {
    			var grid_id = $(this).parent().parent().attr('id');
    			search($('#' + grid_id + ' .sp_search_btn'));
    		}
    	});

    	// Clicking on search button
    	$('.sp_search_form .sp_search_btn').click(function() {
    		search($(this));
    	});
    	
    	// Clicking on an action
    	$('.sp_grid_action').click(function() {
    		
    		if ($(this).attr('require_id') == 'true') {
        		
        		// parent grid of this action
        		var grid_id = $(this).parent().parent().parent().attr('id');
        		
        		// get the id of the selected row
        		var id_selected = null;
        		$('#' + grid_id + ' .sp_grid_row_id').each(function() {
        			if ($(this).attr('checked') == true) {
        				id_selected = $(this).attr('id_row');
        			}
        		});
        		
        		// if there's a selected row, go to the corresponding location
        		if (id_selected != null) {
        			
        			var id_param = 
        				'<input type="hidden" name="id" value="' + id_selected + '"/>';
        				
        			$(this).parent().append(id_param);        			
        			$(this).parent().submit();
        		}
        		else {
        			alert('{{_('You must select a row before click on this action')}}');
        		}
    		}
    		else {
    			$(this).parent().submit();
    		}
    	});
    	
    	// Changing results per page
    	$('.sp_grid_rp').change(function() {
    		var grid_id = $(this).parent().parent().attr('id');
    		search($('#' + grid_id + ' .sp_search_btn'));
    	});
    });
</script>
{% endmacro %}

{% macro show(page, _, q, grid, show_ids) %}
<!-- Grid -->
<div id="{{grid.name}}">
{% if grid.caption %}
<div class="sp_grid_caption">{{grid.caption|escape}}</div>
{% endif %}
<form class="sp_search_form" method="post" action="{{grid.search_url}}">
    <input type="hidden" name="cls" value="{{grid.cls}}"/>
    <input type="hidden" name="caption" value="{{grid.caption}}"/>
    <input type="hidden" name="show_ids" value="{{show_ids}}"/>
    <input class="sp_search_txt" name="q" type="text" value="{{q}}"/>
    <input class="sp_search_btn" type="button" value="{{_('Search...')}}"/>
</form>
<table class="sp_grid">
    <tr>
    <td class="sp_col_title">*</td>
    <!-- Column titles -->
    {% for col in grid.cols %}
    <td class="sp_col_title" style="width: {{col.width}}px;">{{col.title|escape}}</td>
    {% endfor %}
    </tr>
    
    <!-- Data rows -->
    {% for row in grid.data %}
        <!-- Fill in grid -->
        <tr class="sp_grid_row">
        <td title="{{loop.index}}"><input class="sp_grid_row_id" type="checkbox" 
            id_row="{{row[0]}}"/></td>
        {% for cell in row %}
        <td class="sp_grid_cell" style="text-align: {{grid.cols[loop.index0].align}};
            width: {{grid.cols[loop.index0].width}}px;"
            title="{{grid.cols[loop.index0].title}}">{{cell|escape}}</td>
        {% endfor %}
        </tr>
    {% else %}
        <!-- No results -->
        <tr class="sp_grid_row" style="width: 100%;">
            <td class="sp_grid_cell sp_grid_noresults" 
                colspan="{{grid.cols|length + 1}}">{{_('No results')}}</td>
        </tr>
    {% endfor %}

</table>
<!-- Grid pager -->
<div class="sp_grid_pager">
    <!-- <div> -->
      <p class="sp_grid_pager_desc">{{_('Page %(curr_page)d of %(total_page)d / Showing rows %(pos0)d to %(pos1)d')|format(curr_page=grid.pag_n, total_page=grid.total_pag, pos0=grid.pos+1, pos1=grid.pos + grid.totalp)}}</p>
      <select class="sp_grid_rp">
          <option value="10"  {% if grid.rp == 10 %}selected="selected"{% endif %}>10</option>
          <option value="50"  {% if grid.rp == 50 %}selected="selected"{% endif %}>50</option>
          <option value="100" {% if grid.rp == 100 %}selected="selected"{% endif %}>100</option>
          <option value="0"   {% if grid.rp == 0 %}selected="selected"{% endif %}>{{_('All')}}</option>
      </select>
    <!-- </div> -->

    <!-- First page -->
    <form method="post" action="{{grid.search_url}}">
        <input type="hidden" name="cls" value="{{grid.cls}}"/>
        <input type="hidden" name="caption" value="{{grid.caption}}"/>
        <input type="hidden" name="q" value="{{q}}"/>
        <input type="hidden" name="rp" value="{{grid.rp}}"/>
        <input type="hidden" name="pag_n" value="{{1}}"/>
        <input type="hidden" name="show_ids" value="{{show_ids}}"/>
        <input class="sp_grid_pag_back" type="submit" value="|<<" title="{{_('page 1')}}"/>
    </form>
    
    {# {% if grid.pag_n-1 > 0 %} #}
    <form method="post" action="{{grid.search_url}}">
        <input type="hidden" name="cls" value="{{grid.cls}}"/>
        <input type="hidden" name="caption" value="{{grid.caption}}"/>
        <input type="hidden" name="q" value="{{q}}"/>
        <input type="hidden" name="rp" value="{{grid.rp}}"/>
        <input type="hidden" name="pag_n" value="{{grid.pag_n-1}}"/>
        <input type="hidden" name="show_ids" value="{{show_ids}}"/>
        {% if grid.pag_n-1 > 0 %}
        <input class="sp_grid_pag_back" type="submit" value="<<" title="{{_('page %(p)d')|format(p=grid.pag_n-1)}}"/>
        {% else %}
        <input class="sp_grid_pag_back" type="button" value="<<"/>
        {% endif %}
    </form>
    {# {% endif %} #}
    
    <div>
        <input class="sp_grid_current_page" type="text" value="{{grid.pag_n}}"/>
    </div>
    
    {# {% if grid.pag_n+1 <= grid.total_pag %} #}
    <form method="post" action="{{grid.search_url}}" style="float: left;">
        <input type="hidden" name="cls" value="{{grid.cls}}"/>
        <input type="hidden" name="caption" value="{{grid.caption}}"/>
        <input type="hidden" name="q" value="{{q}}"/>
        <input type="hidden" name="rp" value="{{grid.rp}}"/>
        <input type="hidden" name="pag_n" value="{{grid.pag_n+1}}"/>
        <input type="hidden" name="show_ids" value="{{show_ids}}"/>
        {% if grid.pag_n+1 <= grid.total_pag %}
        <input class="sp_grid_pag_forth" type="submit" value=">>" title="{{_('page %(p)d')|format(p=grid.pag_n+1)}}"/>
        {% else %}
        <input class="sp_grid_pag_forth" type="button" value=">>"/>
        {% endif %}
    </form>
    {# {% endif %} #}

    <!-- Last page -->    
    <form method="post" action="{{grid.search_url}}">
        <input type="hidden" name="cls" value="{{grid.cls}}"/>
        <input type="hidden" name="caption" value="{{grid.caption}}"/>
        <input type="hidden" name="q" value="{{q}}"/>
        <input type="hidden" name="rp" value="{{grid.rp}}"/>
        <input type="hidden" name="pag_n" value="{{grid.total_pag}}"/>
        <input type="hidden" name="show_ids" value="{{show_ids}}"/>
        <input class="sp_grid_pag_forth" type="submit" value=">>|" title="{{_('page %(p)d')|format(p=grid.total_pag)}}"/>
    </form>
</div>
<!-- Grid actions -->
<div class="sp_grid_actions">
    {#<div class="sp_grid_actions_title">Actions:</div>#}
    {% for act in grid.actions %}
    <form method="post" action="{{act.url}}">
        <input class="sp_grid_action" type="button" value="{{act.title|escape}}" url="{{act.url}}"
            require_id="{{act.require_id|lower}}"/>
    </form>
    {% endfor %}
</div>
</div>
{% endmacro %}