{% macro js_select_row(_) %}
{# This function is in its own macro because the select dialog doesn't need more
   than just this function #}
<script type="text/javascript">
    $(document).ready(function() {
        // {# select a row #} 
        $('.sp-grid-cell').click(function() {
            if ($(this).attr('clickable') == 'true') {
                var row_id = $(this).parent().find('.sp-grid-rowid');           
                if (row_id.attr('checked') == true) {
                    row_id.attr('checked', false);
                }
                else {
                    row_id.attr('checked', true);
                }
            }
        });
    });
</script>
{% endmacro %}

{% macro js_functions(_) %}
<script type="text/javascript">
    $(document).ready(function() {
    	
    	// {# default DELETE action #} 
    	function delete_action(button, selected_row, id) {
    		
    		var cls = button.parent().find('input[name=cls]').val();
    		var url = button.attr('url');
    		
    		var delete_html = 
    			"<p id='delete-question'>{{_('Do you really want to delete this record?')}}</p>" +
    			"<p id='object-title'></p>";
    			
    		var error_html =
    			"<p id='delete-error-title'>{{_('Sorry, something went wrong...')}}</p>" +
    			"<div id='delete-error-message'></div>";
    		
    	    $('#grid-dialog').html(delete_html);
    			
    	    // {# get object's title #} 
    	    var title = '';
    		$.ajax({
    			url: "/title",
    			type: "get",
    			dataType: "json",
    			data: {
    				cls: cls,
    				id: id,    		
    			},
    			success: function(res) {
    				if (res.status) {
    					$('#grid-dialog #object-title').html(res.title);
    				}
    			},
    		    error: function() {
    		    	// {# alert('error!'); #} 
    		    }
    		});

    		$('#grid-dialog').dialog({
    			width: 650,
    			height: 210,
    			resizable: false,
    			modal: true,
    			title: "{{_('Delete')}}",
    			buttons: {
    				"{{_('Ok')}}": function() {
    					$.ajax({
    						url: url,
    						type: "get",
    						dataType: "json",
    						data: {
    							cls: cls,
    							id: id,
    						},
    						success: function(res) {
    							if (res.status) {
    								selected_row.remove();
      							    $('#grid-dialog').dialog('close');
    							}
    							else {
    								$('#grid-dialog').dialog('close');
    								
    								var message = '';
    								var height = 240;
    								
    								if (res.message != '') {
    								    message = res.message;
    								}
    								else {
    									height += 30;
    									message = "<p style='font-size: 15px;'>{{_('This object is related with other objects in the following classes:')}}</p>";
    									message += "<ul>";
    									for (var i=0; i<res.rel_titles.length; i++) {
    										var title = res.rel_titles[i].class_title;
    										var attr_title = res.rel_titles[i].attr_title;
    										message += '<li><span style="font-weight: bold;">' + title + '</span>' + 
    										  ' (<span style="color: gray;">' + attr_title + '</span>)</li>';
    										
    										height += 10;
    									}
    									message += "</ul>";
    								}
    								
    								// {# load message #} 
    								$('#grid-dialog').html(error_html).find('#delete-error-message').html(message);
    								
    								// {# show error dialog #} 
                                    $('#grid-dialog').dialog({
                                        height: height,
                                        buttons: {"{{_('Close')}}": function() {
                                            $('#grid-dialog').dialog('close');
                                        }}
                                    });
    							}
    						},
    						error: function() {
    							$('#grid-dialog').dialog('close');
    							$('#grid-dialog').html(error_html).dialog({
    								buttons: {
    									"{{_('Close')}}": function() {
    										$('#grid-dialog').dialog('close');
    									}
    								}
    							});
    						},
    					});
    				},
    				"{{_('Cancel')}}": function() {
    					$('#grid-dialog').dialog('close');
    				}
    			}
    		});
    	}
    	
        function search(button) {
        	
            // parent grid of this search
            var grid_id = button.parent().parent().attr('id');

            // results per page
            var rp = $('#' + grid_id + ' .sp-grid-rp').val();
            
            // Add params to the form
            var params = 
                '<input name="rp" type="hidden" value="' + rp + '"/>';
                
            $('#' + grid_id + ' .sp-search-form').append(params);
            
            // submit the search
            $('#' + grid_id + ' .sp-search-form').submit();
        }
    	
    	// Link auto-submit with "Search..." button
    	$('.sp-search-form .sp-search-txt').keypress(function(event) {
    		// Pressed ENTER (13) in text search box
    		if (event.which == 13) {
    			var grid_id = $(this).parent().parent().attr('id');
    			search($('#' + grid_id + ' .sp-search-btn'));
    		}
    	});

    	// Clicking on search button
    	$('.sp-search-form .sp-search-btn').click(function() {
    		search($(this));
    	});
    	
    	// {# Clicking on an action #} 
    	$('.sp-grid-action').click(function() {
    		
    		if ($(this).attr('require_id') == 'true') {
        		
        		// {# parent grid of this action #} 
        		var grid_id = $(this).parent().parent().parent().parent().attr('id');
        		
        		// {# get the id of the selected row #} 
        		var selected_row = null;
        		var id_selected = null;
        		$('#' + grid_id + ' .sp-grid-row ').each(function() {
        			var rowid = $(this).find('.sp-grid-rowid');
        			if (rowid.attr('checked') == true) {
        				id_selected = rowid.attr('id_row');
        				selected_row = $(this);
        			}
        		});
        		
        		// {# if there's a selected row, go to the corresponding location #} 
        		if (id_selected != null) {
        			
        			var id_param = 
        				'<input type="hidden" name="id" value="' + id_selected + '"/>';
        				
        			if($(this).attr('action-type') == 'delete') {
        				//alert('hola!');
        				delete_action($(this), selected_row, id_selected);
        			}
        			else {
        				$(this).parent().append(id_param);        			
          			    $(this).parent().submit();
        			}
        		}
        		else {
        			$('#grid-dialog').
        			    html("<p style='text-align: center'>{{_('You must select a row before click on this action')}}</p>"). 
        			    dialog({
        			    	resizable: false,
        	                height: 100,
        	                width: 450,
        	                modal: true        			    	
        			    });
        		}
    		}
    		else {
    			$(this).parent().submit();
    		}
    	});
    	
    	// {# Changing results per page #} 
    	$('.sp-grid-rp').change(function() {
    		var grid_id = $(this).parent().parent().attr('id');
    		search($('#' + grid_id + ' .sp-search-btn'));
    	});
    });
</script>
{% endmacro %}

{% macro show(page, _, q, grid, show_ids, link=None, came_from=None, 
    with_search=True, with_pager=True, with_actions=True, can_edit=False) %}
<!-- Grid -->
<div id="grid-dialog" style="display: none;">
</div>
<div id="{{grid.name}}">

{% if grid.caption %}
<div class="sp-grid-caption">{{grid.caption|escape}}</div>
{% endif %}

{% if with_search %}
<form class="sp-search-form" method="post" action="{{grid.search_url}}">
    <input type="hidden" name="cls" value="{{grid.cls}}"/>
    <input type="hidden" name="caption" value="{{grid.caption}}"/>
    <input type="hidden" name="show_ids" value="{{show_ids}}"/>
    <input type="hidden" name="came_from" value="{{came_from}}"/>
    <input class="sp-search-txt" name="q" type="text" value="{{q|escape}}"/>
    <input class="sp-button sp-search-btn" type="button" value="{{_('Search...')}}"/>
</form>
{% endif %}

{% if link %}
<div style="font-size: 9px;"><a href="{{link}}">[this search]</a></div>
{% endif %}

<div style="overflow:auto">
<table class="sp-grid">
    <tr>
    <td class="sp-col-title">*</td>
    <!-- Column titles -->
    {% for col in grid.cols %}
    <td class="sp-col-title" style="width: {{col.width}}px;">{{col.title|escape}}</td>
    {% endfor %}
    </tr>
    
    <!-- Data rows -->
    {% for row in grid.data %}
        <!-- Fill in grid -->
        <tr class="sp-grid-row">
        <td title="{{loop.index}}"><input class="sp-grid-rowid" type="checkbox" 
            id_row="{{row[0]}}"/></td>
        {% for cell in row %}
        <td class="sp-grid-cell" style="text-align: {{grid.cols[loop.index0].align}};
            width: {{grid.cols[loop.index0].width}}px;"
            title="{{grid.cols[loop.index0].title}}"
            {% if can_edit and loop.index0 == 0 %}
            clickable="false">
            <a href="/edit?cls={{grid.cls}}&id={{cell}}">{{cell|escape}}</a>
            {% else %}
            clickable="true">
            {{cell|escape}}
            {% endif %}
        </td>
        {% endfor %}
        </tr>
    {% else %}
        <!-- No results -->
        <tr class="sp-grid-row" style="width: 100%;">
            <td class="sp-grid-cell sp-grid-noresults" 
                colspan="{{grid.cols|length + 1}}">{{_('No results')}}</td>
        </tr>
    {% endfor %}

</table>
</div>

{% if with_pager %}
<!-- Grid pager -->
<div class="sp-grid-pager">
    <!-- <div> -->
      <div class="sp-grid-pager-desc">
        {{_('Page %(curr_page)d of %(total_page)d / Showing rows %(pos0)d to %(pos1)d')|format(curr_page=grid.pag_n, 
            total_page=grid.total_pag, pos0=grid.pos+1, pos1=grid.pos + grid.totalp)}}
      </div>
      <select class="sp-button sp-grid-rp">
          <option value="10"  {% if grid.rp == 10 %}selected{% endif %}>10</option>
          <option value="50"  {% if grid.rp == 50 %}selected{% endif %}>50</option>
          <option value="100" {% if grid.rp == 100 %}selected{% endif %}>100</option>
          <option value="0"   {% if grid.rp == 0 %}selected{% endif %}>{{_('All')}}</option>
      </select>
    <!-- </div> -->

    <!-- First page -->
    <form method="post" action="{{grid.search_url}}">
        <input type="hidden" name="cls" value="{{grid.cls}}"/>
        <input type="hidden" name="caption" value="{{grid.caption}}"/>
        <input type="hidden" name="q" value="{{q}}"/>
        <input type="hidden" name="rp" value="{{grid.rp}}"/>
        <input type="hidden" name="pag_n" value="{{1}}"/>
        <input type="hidden" name="show_ids" value="{{show_ids}}"/>
        <input type="hidden" name="came_from" value="{{came_from}}"/>
        <input class="sp-button sp-grid-pag-back" type="submit" value="|<<" 
            title="{{_('page 1')}}"/>
    </form>
    
    {# {% if grid.pag_n-1 > 0 %} #}
    <form method="post" action="{{grid.search_url}}">
        <input type="hidden" name="cls" value="{{grid.cls}}"/>
        <input type="hidden" name="caption" value="{{grid.caption}}"/>
        <input type="hidden" name="q" value="{{q}}"/>
        <input type="hidden" name="rp" value="{{grid.rp}}"/>
        <input type="hidden" name="pag_n" value="{{grid.pag_n-1}}"/>
        <input type="hidden" name="show_ids" value="{{show_ids}}"/>
        <input type="hidden" name="came_from" value="{{came_from}}"/>
        {% if grid.pag_n-1 > 0 %}
        <input class="sp-button sp-grid-pag-back" type="submit" value="<<" 
            title="{{_('page %(p)d')|format(p=grid.pag_n-1)}}"/>
        {% else %}
        <input class="sp-button sp-grid-pag-back" type="button" value="<<" disabled/>
        {% endif %}
    </form>
    {# {% endif %} #}
    
    <div>
        <input class="sp-grid-current-page" type="text" value="{{grid.pag_n}}"/>
    </div>
    
    <form method="post" action="{{grid.search_url}}" style="float: left;">
        <input type="hidden" name="cls" value="{{grid.cls}}"/>
        <input type="hidden" name="caption" value="{{grid.caption}}"/>
        <input type="hidden" name="q" value="{{q}}"/>
        <input type="hidden" name="rp" value="{{grid.rp}}"/>
        <input type="hidden" name="pag_n" value="{{grid.pag_n+1}}"/>
        <input type="hidden" name="show_ids" value="{{show_ids}}"/>
        <input type="hidden" name="came_from" value="{{came_from}}"/>
        {% if grid.pag_n+1 <= grid.total_pag %}
        <input class="sp-button sp-grid-pag-forth" type="submit" value=">>" 
            title="{{_('page %(p)d')|format(p=grid.pag_n+1)}}"/>
        {% else %}
        <input class="sp-button sp-grid-pag-forth" type="button" value=">>" disabled/>
        {% endif %}
    </form>

    <!-- Last page -->    
    <form method="post" action="{{grid.search_url}}">
        <input type="hidden" name="cls" value="{{grid.cls}}"/>
        <input type="hidden" name="caption" value="{{grid.caption}}"/>
        <input type="hidden" name="q" value="{{q}}"/>
        <input type="hidden" name="rp" value="{{grid.rp}}"/>
        <input type="hidden" name="pag_n" value="{{grid.total_pag}}"/>
        <input type="hidden" name="show_ids" value="{{show_ids}}"/>
        <input type="hidden" name="came_from" value="{{came_from}}"/>
        <input class="sp-button sp-grid-pag-forth" type="submit" value=">>|"
            title="{{_('page %(p)d')|format(p=grid.total_pag)}}"/>
    </form>
</div>
{% endif %}

{% if with_actions and grid.actions %}
<!-- Grid actions -->
<div class="sp-grid-actions">
    <div class="sp-grid-actions-title">Actions:</div>
    {% for act in grid.actions %}
    <div style="float: left;">
    <form method="post" action="{{act.url}}">
        <input type="hidden" name="cls" value="{{grid.cls}}"/>
        {% if link != None %}
        <input type="hidden" name="came_from" value="{{link}}"/>
        {% else %}
        <input type="hidden" name="came_from" value="{{came_from}}"/>
        {% endif %}
        <input class="sp-button sp-grid-action" type="button" value="{{act.title|escape}}"
            title="{{act.url}}" url="{{act.url}}" action-type="{{act.type}}" 
            require_id="{{act.require_id|lower}}"/>
    </form>
    </div>
    {% endfor %}
</div>
{% endif %}
</div>
{% endmacro %}