{% extends 'base.html' %}
{% import 'util.html' as util %}

<!-- Uncomment the next section and override the "html_head" block if you want to -->
<!-- 
{% block head %}
    {{ super() }}
{% endblock %}
-->

<!-- Uncomment the next section and override the "header" block if you want to -->
<!--
{% block header %}
    {{ super() }}
{% endblock %}
-->

<!-- Uncomment the next section and override the "middle" block if you want to -->
{% block middle %}
    {{ super() }}
    
    {#{{curr_lang[0]}}#}
    <a {% if curr_lang[0] == 'en' %} style="color: navy;" {% endif %} href="{{tg.url('/setlang', lang='en')}}">[English]</a>    
    <a {% if curr_lang[0] == 'es' %} style="color: navy;" {% endif %} href="{{tg.url('/setlang', lang='es')}}">[Español]</a>
        
    <ul>
    <li>
    {{util.list('/list', _('Show table/view'), None)}}
    </li>
    
    <!-- Alumnos -->
    <li>
    {{util.list('/list', _('Students'), 'vista_busqueda_alumnos')}}
    </li>
    
    <!-- Clientes -->
    <li>
    {{util.list('/list', _('Clients'), 'vista_busqueda_clientes')}}
    </li>
    
    <li>
        <a href="{{tg.url('/util', came_from='/')}}">{{_('Utilities')}}</a>
    </li>
    
    <li>
        <a href="{{tg.url('/views', came_from='/')}}">{{_('Views')}}</a>
    </li>
    
    </ul>
    
    <style type="text/css">
        .sc_type {
            border: 1px dotted gray;
            margin-left: 5px;
            margin-right: 5px;
            float: left;
            background-color: white;
        }
    </style>
    
    <div>{{_('Shortcuts')}}</div>
    {#<div>
        <a class="sc_type" href="{{tg.url('/', sc_type='list')}}">List</a>
        <a class="sc_type" href="{{tg.url('/', sc_type='bigicon')}}">Big icon</a>
        <a class="sc_type" style="float: none;" href="{{tg.url('/', sc_type='smallicon')}}">Small icon</a>
    </div>#}
    
    <div style="border: 1px solid white; height: 300px;">
    {% if sc_type == 'list' %}
        {% include 'shortcuts/list.html' %}
    {% elif sc_type == 'bigicon' %}
        {% include 'shortcuts/bigicon.html' %}
    {% endif %}
    </div>
{% endblock %}

<!-- Uncomment the next section and override the "footer" block if you want to -->
<!-- 
{% block footer %}
    {{ super() }}
{% endblock %}
-->