{% extends 'base.html' %}
{% import 'dashboard/util.html' as util %}

{# Head #}
{% block head %}
    {{super()}}
    {{util.jquery()}}
    {{util.jquery_ui()}}
    {{util.jquery_jstree()}}
{% endblock %}

{# Middle #}
{% block middle %}
    {{super()}}
    <div style="height: 550px; background-color: white; padding: 10px;">
    <h1 style="color: #B4BD3C;">{{_('Welcome to Sapns!')}}</h1>
    <p>{{_('You can start ')}}<a href="/dashboard">{{_('here')}}</a>.</p>
    <p>{{_('username: ')}}<span style="font-weight: bold; font-style: italic;">manager</span><br>
    {{('password: ')}}<span style="font-weight: bold; font-style: italic;">manager</span></p>
    </div>
    
    <div>
    <div style="float: left;">
    <a href="{{tg.url('/setlang', params=dict(lang='en'))}}" 
        {% if curr_lang[0] == 'en' %} style="color: navy;" {% endif %}>[English]</a></div>    
    <div><a href="{{tg.url('/setlang', params=dict(lang='es'))}}"
        {% if curr_lang[0] == 'es' %} style="color: navy;" {% endif %}>[Español]</a></div>
    </div>
{% endblock %}

{#
<!-- Uncomment the next section and override the "footer" block if you want to -->
<!-- 
{% block footer %}
    {{ super() }}
{% endblock %}
-->
#}