{% macro list(url, submit_title, cls) %}
    <form method="post" action="{{url}}">
        <input type="hidden" name="show_ids" value="false"/>
        {% if cls %}
        <input type="hidden" name="cls" value="{{cls}}"/>
        <input type="hidden" name="caption" value="{{submit_title}}"/>
        {% else %}
        <input type="text" name="cls" value=""/>
        <!-- <input type="hidden" name="caption" value=""/> -->
        {% endif %}
        <input class="sp-button" type="submit" value="{{submit_title}}"/>
    </form>
{% endmacro %}

{% macro jquery() %}
<!-- JQuery 1.5.1 -->
<script type="text/javascript" 
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
{% endmacro %}

{% macro jquery_ui() %}
<!-- JQuery UI -->
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>

<!-- Uncomment the style you like to be applied or get another at
     http://jqueryui.com/themeroller/ -->

<!-- smoothness -->
<link rel="stylesheet" type="text/css" media="screen" 
    href="/css/smoothness/jquery-ui.css"/>

<!-- sunny -->
<!--
<link rel="stylesheet" type="text/css" media="screen" 
    href="/css/sunny/jquery-ui.css"/>
-->    
    
<!-- overcast -->
<!--
<link rel="stylesheet" type="text/css" media="screen" 
    href="/css/overcast/jquery-ui.css"/>
-->
{% endmacro %}