{% macro list(url, submit_title, cls) %}
    <form method="post" action="{{url}}">
        <input type="hidden" name="show_ids" value="false"/>
        {% if cls %}
        <input type="hidden" name="cls" value="{{cls}}"/>
        <input type="hidden" name="caption" value="{{submit_title}}"/>
        {% else %}
        <input type="text" name="cls" value=""/>
        <!-- <input type="hidden" name="caption" value=""/> -->
        {% endif %}
        <input class="sp_button" type="submit" value="{{submit_title}}"/>
    </form>
{% endmacro %}

{% macro jquery() %}
<!-- JQuery 1.5.1 -->
<script type="text/javascript" 
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
{% endmacro %}

{% macro jquery_ui() %}
<link rel="stylesheet" type="text/css" media="screen" 
    href="/css/smoothness/jquery-ui.custom.css"/>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
{% endmacro %}