<div class="sp_view_edit">
    <div class="sp_view_caption">{{_('View')}}</div>
    <table>
        <tr>
            <td class="sp-label-field sp-label-field-must sp_view_label">{{_('Title')}}</td>
            <td><input class="sp-text-field sp_view_title" id="view_title" type="text" value="{{view.title}}"/></td>
        </tr>
        
        <tr>
            <td class="sp-label-field sp-label-field-must sp_view_label">{{_('Code')}}</td>
            <td><input class="sp-text-field sp_view_code" id="view_code" type="text" value="{{view.code}}"/></td>
        </tr>
        
        <tr>
            <td class="sp-label-field sp-label-field-must sp_view_label">{{_('Table')}}</td>
            <td><input class="sp-text-field sp_view_table" id="view_table" type="text" value="{{view.relations[0].table}}"/></td>
        </tr>
        
        <tr>
            <td class="sp-label-field sp-label-field-must sp_view_label">{{_('Alias')}}</td>
            <td><input class="sp-text-field sp_view_table_alias" id="view_table_alias" type="text" value="{{view.relations[0].alias}}"/></td>
        </tr>
        
        <tr>
            <td/>
            <td><input id="btn_save_view" class="sp-button" type="button" value="{{_('Save view')}}"/></td>
        </tr>
    </table>
</div>