{% extends 'sapns/base.html' %}
{% import 'sapns/dashboard/util.html' as util %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/views.css')}}">
    {{util.jquery()}}
    {{util.jquery_ui()}}
    <script>
    {#{% include 'sapns/views/views-min.js' %}#}
    {% include 'sapns/views/views-min.js' %}
    </script>
{% endblock %}

{% block middle %}
<div id="views-dialog" style="display: none;"></div>
<form id="form_view" method="post" action="/dashboard/views/save">
    <input type="hidden" name="id" value="{{view.id}}"/>
    <input type="hidden" name="title"/>
    <input type="hidden" name="code"/>    
    <input type="hidden" name="columns"/>
    <input type="hidden" name="relations"/>
    <input type="hidden" name="filters"/>
    <input type="hidden" name="order"/>
</form>
{% if tmpl_context.form_errors %}
{{tmpl_context.form_errors}}
{% endif %}
{% include 'sapns/views/header.html' %}
{% include 'sapns/views/columns.html' %}
{% include 'sapns/views/relations.html' %}
{% include 'sapns/views/filters.html' %}
{% include 'sapns/views/order.html' %}
{% endblock %}